{
  "openapi": "3.0.3",
  "info": {
    "title": "CribNosh API",
    "description": "Personalized meal platform API with modern, glossy, culturally-aware design",
    "version": "1.0.0",
    "contact": {
      "name": "CribNosh API Support",
      "email": "support@cribnosh.co.uk"
    }
  },
  "servers": [
    {
      "url": "https://cribnosh.co.uk",
      "description": "Production server"
    },
    {
      "url": "https://cribnosh.com",
      "description": "Alternative production server"
    }
  ],
  "paths": {
    "/api": {
      "get": {
        "summary": "GET /api",
        "description": "Method not allowed for /api",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api",
        "description": "Method not allowed for /api",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api",
        "description": "Method not allowed for /api",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api",
        "description": "Method not allowed for /api",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api",
        "description": "Method not allowed for /api",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/webhooks/stripe": {
      "post": {
        "summary": "POST /api/webhooks/stripe",
        "description": "Handle POST requests to /api/webhooks/stripe",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request payload"
              }
            }
          }
        }
      },
      "get": {
        "summary": "GET /api/webhooks/stripe",
        "description": "Method not allowed for /api/webhooks/stripe",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/webhooks/stripe",
        "description": "Method not allowed for /api/webhooks/stripe",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/webhooks/stripe",
        "description": "Method not allowed for /api/webhooks/stripe",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/webhooks/stripe",
        "description": "Method not allowed for /api/webhooks/stripe",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/webhooks/resend": {
      "get": {
        "summary": "GET /api/webhooks/resend",
        "description": "Method not allowed for /api/webhooks/resend",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/webhooks/resend",
        "description": "Method not allowed for /api/webhooks/resend",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/webhooks/resend",
        "description": "Method not allowed for /api/webhooks/resend",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/webhooks/resend",
        "description": "Method not allowed for /api/webhooks/resend",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/webhooks/resend",
        "description": "Method not allowed for /api/webhooks/resend",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/waitlist": {
      "get": {
        "summary": "GET /api/waitlist",
        "description": "Handle GET requests to /api/waitlist",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/waitlist",
        "description": "Handle POST requests to /api/waitlist",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request payload"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/waitlist",
        "description": "Handle DELETE requests to /api/waitlist",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/waitlist",
        "description": "Method not allowed for /api/waitlist",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "GET",
                        "POST",
                        "DELETE"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/waitlist",
        "description": "Method not allowed for /api/waitlist",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "GET",
                        "POST",
                        "DELETE"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/waitlist/user-confirmation": {
      "get": {
        "summary": "GET /api/waitlist/user-confirmation",
        "description": "Method not allowed for /api/waitlist/user-confirmation",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/waitlist/user-confirmation",
        "description": "Method not allowed for /api/waitlist/user-confirmation",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/waitlist/user-confirmation",
        "description": "Method not allowed for /api/waitlist/user-confirmation",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/waitlist/user-confirmation",
        "description": "Method not allowed for /api/waitlist/user-confirmation",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/waitlist/user-confirmation",
        "description": "Method not allowed for /api/waitlist/user-confirmation",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/upload-avatar": {
      "get": {
        "summary": "GET /api/upload-avatar",
        "description": "Method not allowed for /api/upload-avatar",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/upload-avatar",
        "description": "Method not allowed for /api/upload-avatar",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/upload-avatar",
        "description": "Method not allowed for /api/upload-avatar",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/upload-avatar",
        "description": "Method not allowed for /api/upload-avatar",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/upload-avatar",
        "description": "Method not allowed for /api/upload-avatar",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/timelogs": {
      "post": {
        "summary": "POST /api/timelogs",
        "description": "Handle POST requests to /api/timelogs",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request payload"
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/timelogs",
        "description": "Handle PUT requests to /api/timelogs",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request payload"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/timelogs",
        "description": "Handle DELETE requests to /api/timelogs",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/timelogs",
        "description": "Handle PATCH requests to /api/timelogs",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request payload"
              }
            }
          }
        }
      },
      "get": {
        "summary": "GET /api/timelogs",
        "description": "Method not allowed for /api/timelogs",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST",
                        "PUT",
                        "DELETE",
                        "PATCH"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/timelogs/activity-tracker": {
      "get": {
        "summary": "GET /api/timelogs/activity-tracker",
        "description": "Method not allowed for /api/timelogs/activity-tracker",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/timelogs/activity-tracker",
        "description": "Method not allowed for /api/timelogs/activity-tracker",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/timelogs/activity-tracker",
        "description": "Method not allowed for /api/timelogs/activity-tracker",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/timelogs/activity-tracker",
        "description": "Method not allowed for /api/timelogs/activity-tracker",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/timelogs/activity-tracker",
        "description": "Method not allowed for /api/timelogs/activity-tracker",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/test-auth": {
      "get": {
        "summary": "GET /api/test-auth",
        "description": "Handle GET requests to /api/test-auth",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/test-auth",
        "description": "Method not allowed for /api/test-auth",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "GET"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/test-auth",
        "description": "Method not allowed for /api/test-auth",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "GET"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/test-auth",
        "description": "Method not allowed for /api/test-auth",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "GET"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/test-auth",
        "description": "Method not allowed for /api/test-auth",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "GET"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/test/reset-rate-limits": {
      "get": {
        "summary": "GET /api/test/reset-rate-limits",
        "description": "Method not allowed for /api/test/reset-rate-limits",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/test/reset-rate-limits",
        "description": "Method not allowed for /api/test/reset-rate-limits",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/test/reset-rate-limits",
        "description": "Method not allowed for /api/test/reset-rate-limits",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/test/reset-rate-limits",
        "description": "Method not allowed for /api/test/reset-rate-limits",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/test/reset-rate-limits",
        "description": "Method not allowed for /api/test/reset-rate-limits",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/submit-form": {
      "post": {
        "summary": "POST /api/submit-form",
        "description": "Handle POST requests to /api/submit-form",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request payload"
              }
            }
          }
        }
      },
      "get": {
        "summary": "GET /api/submit-form",
        "description": "Method not allowed for /api/submit-form",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/submit-form",
        "description": "Method not allowed for /api/submit-form",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/submit-form",
        "description": "Method not allowed for /api/submit-form",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/submit-form",
        "description": "Method not allowed for /api/submit-form",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/stripe/webhook": {
      "get": {
        "summary": "GET /api/stripe/webhook",
        "description": "Method not allowed for /api/stripe/webhook",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/stripe/webhook",
        "description": "Method not allowed for /api/stripe/webhook",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/stripe/webhook",
        "description": "Method not allowed for /api/stripe/webhook",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/stripe/webhook",
        "description": "Method not allowed for /api/stripe/webhook",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/stripe/webhook",
        "description": "Method not allowed for /api/stripe/webhook",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/staff-list": {
      "get": {
        "summary": "GET /api/staff-list",
        "description": "Method not allowed for /api/staff-list",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/staff-list",
        "description": "Method not allowed for /api/staff-list",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/staff-list",
        "description": "Method not allowed for /api/staff-list",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/staff-list",
        "description": "Method not allowed for /api/staff-list",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/staff-list",
        "description": "Method not allowed for /api/staff-list",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/staff/waitlist": {
      "get": {
        "summary": "GET /api/staff/waitlist",
        "description": "Handle GET requests to /api/staff/waitlist",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/staff/waitlist",
        "description": "Handle POST requests to /api/staff/waitlist",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request payload"
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/staff/waitlist",
        "description": "Method not allowed for /api/staff/waitlist",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "GET",
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/staff/waitlist",
        "description": "Method not allowed for /api/staff/waitlist",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "GET",
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/staff/waitlist",
        "description": "Method not allowed for /api/staff/waitlist",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "GET",
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/staff/upload-document": {
      "get": {
        "summary": "GET /api/staff/upload-document",
        "description": "Method not allowed for /api/staff/upload-document",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/staff/upload-document",
        "description": "Method not allowed for /api/staff/upload-document",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/staff/upload-document",
        "description": "Method not allowed for /api/staff/upload-document",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/staff/upload-document",
        "description": "Method not allowed for /api/staff/upload-document",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/staff/upload-document",
        "description": "Method not allowed for /api/staff/upload-document",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/staff/onboarding": {
      "post": {
        "summary": "POST /api/staff/onboarding",
        "description": "Handle POST requests to /api/staff/onboarding",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request payload"
              }
            }
          }
        }
      },
      "get": {
        "summary": "GET /api/staff/onboarding",
        "description": "Method not allowed for /api/staff/onboarding",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/staff/onboarding",
        "description": "Method not allowed for /api/staff/onboarding",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/staff/onboarding",
        "description": "Method not allowed for /api/staff/onboarding",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/staff/onboarding",
        "description": "Method not allowed for /api/staff/onboarding",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/staff/notices": {
      "get": {
        "summary": "GET /api/staff/notices",
        "description": "Method not allowed for /api/staff/notices",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/staff/notices",
        "description": "Method not allowed for /api/staff/notices",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/staff/notices",
        "description": "Method not allowed for /api/staff/notices",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/staff/notices",
        "description": "Method not allowed for /api/staff/notices",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/staff/notices",
        "description": "Method not allowed for /api/staff/notices",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/staff/mattermost/setup": {
      "post": {
        "summary": "POST /api/staff/mattermost/setup",
        "description": "Handle POST requests to /api/staff/mattermost/setup",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request payload"
              }
            }
          }
        }
      },
      "get": {
        "summary": "GET /api/staff/mattermost/setup",
        "description": "Method not allowed for /api/staff/mattermost/setup",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/staff/mattermost/setup",
        "description": "Method not allowed for /api/staff/mattermost/setup",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/staff/mattermost/setup",
        "description": "Method not allowed for /api/staff/mattermost/setup",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/staff/mattermost/setup",
        "description": "Method not allowed for /api/staff/mattermost/setup",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/staff/mattermost/complete": {
      "post": {
        "summary": "POST /api/staff/mattermost/complete",
        "description": "Handle POST requests to /api/staff/mattermost/complete",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request payload"
              }
            }
          }
        }
      },
      "get": {
        "summary": "GET /api/staff/mattermost/complete",
        "description": "Method not allowed for /api/staff/mattermost/complete",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/staff/mattermost/complete",
        "description": "Method not allowed for /api/staff/mattermost/complete",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/staff/mattermost/complete",
        "description": "Method not allowed for /api/staff/mattermost/complete",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/staff/mattermost/complete",
        "description": "Method not allowed for /api/staff/mattermost/complete",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "POST"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/staff/data": {
      "get": {
        "summary": "GET /api/staff/data",
        "description": "Handle GET requests to /api/staff/data",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/staff/data",
        "description": "Method not allowed for /api/staff/data",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "GET"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/staff/data",
        "description": "Method not allowed for /api/staff/data",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "GET"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/staff/data",
        "description": "Method not allowed for /api/staff/data",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "GET"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/staff/data",
        "description": "Method not allowed for /api/staff/data",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "GET"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/staff/clockin-status": {
      "get": {
        "summary": "GET /api/staff/clockin-status",
        "description": "Method not allowed for /api/staff/clockin-status",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/staff/clockin-status",
        "description": "Method not allowed for /api/staff/clockin-status",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "PUT /api/staff/clockin-status",
        "description": "Method not allowed for /api/staff/clockin-status",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/staff/clockin-status",
        "description": "Method not allowed for /api/staff/clockin-status",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "PATCH /api/staff/clockin-status",
        "description": "Method not allowed for /api/staff/clockin-status",
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    },
                    "allowedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/staff/auth/logout": {
      "post": {
        "summary": "POST /api/staff/auth/logout",
        "description": "Handle POST requests to /api/staff/auth/logout",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
[...]
