{
  "openapi": "3.0.3",
  "info": {
    "title": "CribNosh API",
    "description": "Personalized meal platform API with modern, glossy, culturally-aware design",
    "version": "1.0.0",
    "contact": {
      "name": "CribNosh API Support",
      "email": "support@cribnosh.co.uk"
    }
  },
  "servers": [
    {
      "url": "https://cribnosh.co.uk",
      "description": "Production server"
    },
    {
      "url": "https://cribnosh.com",
      "description": "Alternative production server"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and authorization endpoints"
    },
    {
      "name": "Admin",
      "description": "Administrative operations and platform management"
    },
    {
      "name": "Customer",
      "description": "Customer-specific operations and data management"
    },
    {
      "name": "Chef",
      "description": "Chef-specific operations and meal management"
    },
    {
      "name": "Staff",
      "description": "Staff operations and internal management"
    },
    {
      "name": "Orders",
      "description": "Order management and processing"
    },
    {
      "name": "Payments",
      "description": "Payment processing and financial operations"
    },
    {
      "name": "Reviews",
      "description": "Review and rating system"
    },
    {
      "name": "Analytics",
      "description": "Analytics and data tracking"
    },
    {
      "name": "Monitoring",
      "description": "System monitoring and health checks"
    },
    {
      "name": "Live Streaming",
      "description": "Live streaming and real-time features"
    },
    {
      "name": "Notifications",
      "description": "User notification management"
    },
    {
      "name": "Webhooks",
      "description": "Webhook endpoints for external integrations"
    },
    {
      "name": "Email",
      "description": "Email service integration"
    },
    {
      "name": "AI",
      "description": "AI-powered features and recommendations"
    },
    {
      "name": "Integrations",
      "description": "External service integrations"
    },
    {
      "name": "Sync",
      "description": "Data synchronization services"
    },
    {
      "name": "System",
      "description": "System utilities and core operations"
    },
    {
      "name": "Delivery",
      "description": "Delivery management and driver operations"
    },
    {
      "name": "Chat",
      "description": "Real-time messaging and communication"
    },
    {
      "name": "Messaging",
      "description": "Messaging and communication services"
    },
    {
      "name": "Contact",
      "description": "Contact form and communication"
    },
    {
      "name": "Contacts",
      "description": "Contact management and forms"
    },
    {
      "name": "Forms",
      "description": "Form handling and submissions"
    },
    {
      "name": "Documentation",
      "description": "API documentation and specifications"
    },
    {
      "name": "Delivery Applications",
      "description": "Delivery driver applications"
    },
    {
      "name": "Driver Applications",
      "description": "Driver application management"
    },
    {
      "name": "User Management",
      "description": "User account management"
    },
    {
      "name": "System Operations",
      "description": "System administration operations"
    },
    {
      "name": "Dishes",
      "description": "Dish and meal management"
    },
    {
      "name": "Meals",
      "description": "Meal and food item management"
    },
    {
      "name": "Cards",
      "description": "Payment card management"
    },
    {
      "name": "Search",
      "description": "Search functionality and suggestions"
    },
    {
      "name": "Suggestions",
      "description": "Search suggestions and recommendations"
    },
    {
      "name": "Real-time",
      "description": "Real-time features and broadcasting"
    },
    {
      "name": "Broadcasting",
      "description": "Real-time broadcasting services"
    },
    {
      "name": "Waitlist",
      "description": "Waitlist management"
    },
    {
      "name": "Chef Management",
      "description": "Chef account and profile management"
    },
    {
      "name": "Cuisines",
      "description": "Cuisine type management"
    },
    {
      "name": "Custom Orders",
      "description": "Custom order processing"
    },
    {
      "name": "Dashboard",
      "description": "Dashboard and analytics views"
    },
    {
      "name": "Revenue",
      "description": "Revenue tracking and analytics"
    },
    {
      "name": "Images",
      "description": "Image upload and management"
    },
    {
      "name": "Chef - Dashboard",
      "description": "Chef-specific dashboard features"
    },
    {
      "name": "Moderation",
      "description": "Content moderation and management"
    },
    {
      "name": "Session",
      "description": "Session management and handoff"
    },
    {
      "name": "Live Streaming Functions",
      "description": "Live streaming function calls"
    },
    {
      "name": "Payroll",
      "description": "Payroll and tax document management"
    },
    {
      "name": "Timelogs",
      "description": "Time tracking and logging"
    },
    {
      "name": "Admin - Images",
      "description": "Administrative image management"
    },
    {
      "name": "Admin - Email Configuration",
      "description": "Email configuration management"
    },
    {
      "name": "Admin - Emotions Engine",
      "description": "Emotions engine administration"
    },
    {
      "name": "Admin Emotions Engine",
      "description": "Emotions engine admin operations"
    },
    {
      "name": "Admin Reports",
      "description": "Administrative reporting"
    },
    {
      "name": "Admin - Dishes",
      "description": "Administrative dish management"
    },
    {
      "name": "Customer Menus",
      "description": "Customer menu browsing"
    },
    {
      "name": "Customer Chefs",
      "description": "Customer chef discovery"
    },
    {
      "name": "Conversations",
      "description": "Chat conversation management"
    },
    {
      "name": "Messages",
      "description": "Message handling and management"
    },
    {
      "name": "Read",
      "description": "Read status and tracking"
    },
    {
      "name": "Reactions",
      "description": "Message reactions and interactions"
    },
    {
      "name": "Pin",
      "description": "Message pinning functionality"
    },
    {
      "name": "Participation",
      "description": "Chat participation management"
    },
    {
      "name": "File Upload",
      "description": "File upload functionality"
    },
    {
      "name": "Profile",
      "description": "User profile management"
    },
    {
      "name": "Documents",
      "description": "Document management and storage"
    },
    {
      "name": "Chef Documents",
      "description": "Chef-specific document management"
    },
    {
      "name": "Heatmap",
      "description": "Analytics heatmap visualization"
    },
    {
      "name": "Count",
      "description": "Count and statistics"
    },
    {
      "name": "Metrics",
      "description": "Performance metrics and monitoring"
    },
    {
      "name": "Export",
      "description": "Data export functionality"
    },
    {
      "name": "Pending Items",
      "description": "Pending approval items"
    },
    {
      "name": "Order Management",
      "description": "Order processing and management"
    },
    {
      "name": "Refunds",
      "description": "Refund processing"
    },
    {
      "name": "History",
      "description": "Historical data and records"
    },
    {
      "name": "Notes",
      "description": "Order notes and comments"
    },
    {
      "name": "Status",
      "description": "Status tracking and updates"
    },
    {
      "name": "Location",
      "description": "Location-based services"
    },
    {
      "name": "Availability",
      "description": "Chef availability management"
    },
    {
      "name": "Applications",
      "description": "Application processing"
    },
    {
      "name": "Onboarding",
      "description": "User onboarding processes"
    },
    {
      "name": "CORS",
      "description": "Cross-origin resource sharing"
    },
    {
      "name": "Content Management",
      "description": "Content management system"
    },
    {
      "name": "Presence",
      "description": "User presence tracking"
    },
    {
      "name": "Comments",
      "description": "Comment system management"
    },
    {
      "name": "Viewers",
      "description": "Viewer management and tracking"
    },
    {
      "name": "Sessions",
      "description": "Session management"
    },
    {
      "name": "Trending",
      "description": "Trending content and analytics"
    },
    {
      "name": "Sentiment Analysis",
      "description": "Sentiment analysis and AI processing"
    },
    {
      "name": "Mattermost",
      "description": "Mattermost integration"
    },
    {
      "name": "Notices",
      "description": "Notice and announcement management"
    },
    {
      "name": "Time Tracking",
      "description": "Time tracking and clock-in/out"
    },
    {
      "name": "Clock-In",
      "description": "Clock-in functionality"
    },
    {
      "name": "Early Access",
      "description": "Early access program management"
    },
    {
      "name": "Testing",
      "description": "Testing and development tools"
    },
    {
      "name": "Rate Limiting",
      "description": "Rate limiting and throttling"
    },
    {
      "name": "Nosh Heaven",
      "description": "Nosh Heaven video platform"
    },
    {
      "name": "Videos",
      "description": "Video content management"
    },
    {
      "name": "Collections",
      "description": "Content collections"
    },
    {
      "name": "Users",
      "description": "User management"
    },
    {
      "name": "Social",
      "description": "Social features and interactions"
    },
    {
      "name": "Interactions",
      "description": "User interactions and engagement"
    },
    {
      "name": "Document Management",
      "description": "Document management system"
    },
    {
      "name": "Review Management",
      "description": "Review management and approval"
    },
    {
      "name": "AI Analysis",
      "description": "AI-powered analysis features"
    },
    {
      "name": "Drivers",
      "description": "Driver management"
    },
    {
      "name": "Tracking",
      "description": "Order and delivery tracking"
    },
    {
      "name": "Preparation",
      "description": "Order preparation management"
    },
    {
      "name": "Functions",
      "description": "Serverless function calls"
    },
    {
      "name": "Recommendations",
      "description": "Recommendation engine"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "API Welcome Endpoint",
        "description": "Welcome endpoint that confirms the API is working and accessible",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "API is working successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Welcome to the CribNosh API! The API is working."
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/webhooks/stripe": {
      "post": {
        "summary": "Stripe Webhook Handler",
        "description": "Handle Stripe webhook events for payment processing and order updates",
        "tags": [
          "Webhooks",
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Stripe webhook event payload",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Stripe event ID",
                    "example": "evt_1234567890abcdef"
                  },
                  "type": {
                    "type": "string",
                    "description": "Stripe event type",
                    "enum": [
                      "payment_intent.succeeded",
                      "payment_intent.payment_failed",
                      "payment_intent.canceled",
                      "charge.succeeded",
                      "charge.failed"
                    ],
                    "example": "payment_intent.succeeded"
                  },
                  "data": {
                    "type": "object",
                    "description": "Event data object"
                  },
                  "created": {
                    "type": "number",
                    "description": "Unix timestamp of event creation",
                    "example": 1640995200
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "stripe-signature",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stripe webhook signature for verification",
            "example": "t=1640995200,v1=abcdef1234567890"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "received": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing signature or invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error during webhook processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/webhooks/resend": {
      "post": {
        "summary": "Resend Email Webhook Handler",
        "description": "Handle Resend email service webhook events for email analytics and tracking",
        "tags": [
          "Webhooks",
          "Email"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "Raw webhook payload from Resend",
                "example": "{\"type\":\"email.delivered\",\"data\":{\"id\":\"email_123\",\"to\":[\"user@example.com\"],\"subject\":\"Welcome\"}}"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Empty object on success",
                      "example": {}
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Webhook signature verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error or webhook secret not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-webhook": {
          "description": "This endpoint handles Resend webhook events for email analytics:\n\n**Supported Email Events:**\n- `email.sent`: Email was sent successfully\n- `email.delivered`: Email was delivered to recipient\n- `email.delivery_delayed`: Email delivery was delayed\n- `email.complained`: Recipient marked email as spam\n- `email.bounced`: Email bounced (hard/soft bounce)\n- `email.clicked`: Recipient clicked a link in the email\n- `email.opened`: Recipient opened the email\n- `email.unsubscribed`: Recipient unsubscribed\n- `email.failed`: Email failed to send\n\n**Supported Contact Events:**\n- `contact.created`: New contact created\n- `contact.updated`: Contact information updated\n- `contact.deleted`: Contact deleted\n\n**Supported Domain Events:**\n- `domain.created`: New domain added\n- `domain.updated`: Domain settings updated\n- `domain.deleted`: Domain removed\n\n**Webhook Security:**\n- Requires valid Resend webhook signature\n- Verifies webhook secret for authenticity\n- Processes events asynchronously\n- Records analytics data in Convex database\n"
        }
      }
    },
    "/waitlist": {
      "get": {
        "summary": "Get Waitlist Entries (Admin)",
        "description": "Retrieve paginated list of waitlist entries (admin only)",
        "tags": [
          "Admin",
          "Waitlist"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Number of waitlist entries to return",
            "example": 20
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Number of waitlist entries to skip",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Waitlist entries retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "waitlist": {
                          "type": "array",
                          "description": "Array of waitlist entries",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string",
                                "description": "Waitlist entry ID",
                                "example": "j1234567890abcdef"
                              },
                              "email": {
                                "type": "string",
                                "format": "email",
                                "description": "User email address",
                                "example": "user@example.com"
                              },
                              "source": {
                                "type": "string",
                                "description": "How the user joined the waitlist",
                                "example": "website"
                              },
                              "location": {
                                "type": "object",
                                "nullable": true,
                                "description": "User's location information",
                                "properties": {
                                  "city": {
                                    "type": "string",
                                    "example": "London"
                                  },
                                  "country": {
                                    "type": "string",
                                    "example": "UK"
                                  },
                                  "coordinates": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    },
                                    "example": [
                                      -0.1276,
                                      51.5074
                                    ]
                                  }
                                }
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "pending",
                                  "contacted",
                                  "converted",
                                  "removed"
                                ],
                                "description": "Waitlist entry status",
                                "example": "pending"
                              },
                              "priority": {
                                "type": "string",
                                "enum": [
                                  "low",
                                  "medium",
                                  "high",
                                  "vip"
                                ],
                                "description": "Priority level",
                                "example": "medium"
                              },
                              "joinedAt": {
                                "type": "number",
                                "description": "Timestamp when user joined waitlist",
                                "example": 1640995200000
                              },
                              "contactedAt": {
                                "type": "number",
                                "nullable": true,
                                "description": "Timestamp when user was contacted",
                                "example": 1641081600000
                              },
                              "convertedAt": {
                                "type": "number",
                                "nullable": true,
                                "description": "Timestamp when user converted to customer",
                                "example": 1641168000000
                              },
                              "metadata": {
                                "type": "object",
                                "nullable": true,
                                "description": "Additional waitlist metadata",
                                "example": {
                                  "referralCode": "FRIEND123",
                                  "interest": "italian_cuisine"
                                }
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "number",
                          "description": "Total number of waitlist entries",
                          "example": 1250
                        },
                        "limit": {
                          "type": "number",
                          "example": 20
                        },
                        "offset": {
                          "type": "number",
                          "example": 0
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - only admins can access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/waitlist/user-confirmation": {
      "post": {
        "summary": "Send Waitlist Confirmation",
        "description": "Send confirmation email to user who joined the waitlist",
        "tags": [
          "Waitlist",
          "Early Access",
          "Email"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User email address to send confirmation to",
                    "example": "user@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmation email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "example": "user@example.com"
                        },
                        "confirmationSent": {
                          "type": "boolean",
                          "example": true
                        },
                        "broadcastListAdded": {
                          "type": "boolean",
                          "example": true
                        },
                        "emailDetails": {
                          "type": "object",
                          "properties": {
                            "subject": {
                              "type": "string",
                              "example": "You are on the waitlist!"
                            },
                            "from": {
                              "type": "string",
                              "example": "earlyaccess@emails.cribnosh.com"
                            },
                            "to": {
                              "type": "string",
                              "example": "user@example.com"
                            },
                            "timestamp": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2024-01-15T10:00:00.000Z"
                            }
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Confirmation email sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error - missing email",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - email sending failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/upload-avatar": {
      "post": {
        "summary": "Upload User Avatar",
        "description": "Upload and store a user avatar image file",
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file to upload as avatar",
                    "maxLength": 5242880
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Avatar uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "URL to access the uploaded avatar",
                      "example": "/api/files/j1234567890abcdef"
                    },
                    "storageId": {
                      "type": "string",
                      "description": "Convex storage ID for the uploaded file",
                      "example": "j1234567890abcdef"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid file or missing file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No file uploaded"
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Method not allowed"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error during upload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Failed to upload image"
                    },
                    "details": {
                      "type": "string",
                      "example": "Convex upload error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/timelogs": {
      "post": {
        "summary": "Create timelog",
        "description": "Create a new timelog entry with activity watch logs",
        "tags": [
          "Timelogs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user",
                  "bucket",
                  "logs"
                ],
                "properties": {
                  "user": {
                    "type": "string",
                    "description": "Username or email of the staff member",
                    "example": "john.doe@example.com"
                  },
                  "bucket": {
                    "type": "string",
                    "description": "Bucket name for the timelog",
                    "example": "work"
                  },
                  "logs": {
                    "type": "array",
                    "description": "Array of activity watch logs",
                    "items": {
                      "type": "object",
                      "required": [
                        "timestamp",
                        "duration",
                        "data"
                      ],
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "description": "ISO timestamp of the activity",
                          "example": "2024-01-15T10:30:00.000Z"
                        },
                        "duration": {
                          "type": "number",
                          "description": "Duration of the activity in seconds",
                          "example": 3600
                        },
                        "data": {
                          "type": "object",
                          "description": "Additional activity data",
                          "example": {
                            "app": "vscode",
                            "title": "coding"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Timelog created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Staff member not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ]
      }
    },
    "components": {
      "schemas": {
        "PendingDish": {
          "type": "object",
          "properties": {
            "_id": {
              "type": "string",
              "description": "Unique identifier for the dish"
            },
            "name": {
              "type": "string",
              "description": "Name of the dish"
            },
            "description": {
              "type": "string",
              "description": "Description of the dish"
            },
            "chefId": {
              "type": "string",
              "description": "ID of the chef who created the dish"
            },
            "status": {
              "type": "string",
              "enum": [
                "pending",
                "approved",
                "rejected"
              ],
              "description": "Approval status of the dish"
            },
            "createdAt": {
              "type": "number",
              "description": "Creation timestamp"
            }
          }
        }
      }
    },
    "/test-auth": {
      "get": {
        "summary": "Test Authentication Token",
        "description": "Validates a JWT token and returns decoded payload information for testing purposes. This endpoint helps verify token structure, roles, and authentication status.",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bearer token for authentication",
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          }
        ],
        "responses": {
          "200": {
            "description": "Token validation successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "payload": {
                          "type": "object",
                          "description": "Decoded JWT payload",
                          "properties": {
                            "user_id": {
                              "type": "string",
                              "example": "j1234567890abcdef"
                            },
                            "email": {
                              "type": "string",
                              "example": "user@example.com"
                            },
                            "roles": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "example": [
                                "user",
                                "chef"
                              ]
                            },
                            "iat": {
                              "type": "number",
                              "example": 1640995200
                            },
                            "exp": {
                              "type": "number",
                              "example": 1641081600
                            }
                          }
                        },
                        "hasRoles": {
                          "type": "boolean",
                          "description": "Whether the token contains roles",
                          "example": true
                        },
                        "rolesType": {
                          "type": "string",
                          "description": "Type of roles field",
                          "example": "object"
                        },
                        "rolesLength": {
                          "type": "string",
                          "description": "Length of roles array or type description",
                          "example": "2"
                        },
                        "hasChefRole": {
                          "type": "boolean",
                          "description": "Whether user has chef role",
                          "example": true
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing, invalid, or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/test/reset-rate-limits": {
      "post": {
        "summary": "Reset All Rate Limits",
        "description": "Resets all rate limiting counters across all rate limiting systems.\nIn production, requires a secure 36-bit key for authorization.\n\n**Rate Limiters Reset:**\n- OTP Rate Limiter (15 min window)\n- Verification Rate Limiter (5 min window) \n- General Auth Rate Limiter (1 min window)\n- Sensitive Auth Rate Limiter (5 min window)\n- Sensitive Rate Limiter (1 min window)\n- Moderation Rate Limiter (1 min window)\n- API Rate Limiter (15 min window)\n- Middleware Auth Rate Limiter (15 min window)\n- Webhook Rate Limiter (1 min window)\n- Search Rate Limiter (1 min window)\n\n**Use Cases:**\n- API testing and development\n- Clearing rate limits during automated testing\n- Debugging rate limiting issues\n- Performance testing without rate limit interference\n- Production emergency rate limit reset (with key)\n",
        "tags": [
          "Testing",
          "Rate Limiting"
        ],
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "36-bit security key required in production",
                    "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All rate limits successfully reset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "All rate limits have been reset"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00.000Z"
                    },
                    "environment": {
                      "type": "string",
                      "example": "production"
                    },
                    "resetLimiters": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "otpRateLimiter",
                        "verificationRateLimiter",
                        "generalAuthRateLimiter",
                        "authRateLimiter (sensitive)",
                        "sensitiveRateLimiter",
                        "moderationRateLimiter",
                        "apiRateLimiter",
                        "authRateLimiter (middleware)",
                        "webhookRateLimiter",
                        "searchRateLimiter"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing security key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid or missing security key"
                    },
                    "message": {
                      "type": "string",
                      "example": "In production, a valid 36-bit security key is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Failed to reset rate limits"
                    },
                    "details": {
                      "type": "string",
                      "example": "Rate limiter reset failed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/submit-form": {
      "post": {
        "summary": "Submit Form Data",
        "description": "Submit various types of forms including chef applications and waitlist signups",
        "tags": [
          "Forms",
          "Applications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "formType"
                ],
                "properties": {
                  "formType": {
                    "type": "string",
                    "enum": [
                      "Chef Application",
                      "Waitlist"
                    ],
                    "description": "Type of form being submitted",
                    "example": "Chef Application"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address (required for all form types)",
                    "example": "chef@example.com"
                  },
                  "fullName": {
                    "type": "string",
                    "description": "Full name (required for Chef Application)",
                    "example": "John Doe"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name (required for Waitlist)",
                    "example": "Jane Smith"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "nullable": true,
                    "description": "Phone number (optional)",
                    "example": "+1-555-123-4567"
                  },
                  "experience": {
                    "type": "string",
                    "nullable": true,
                    "description": "Cooking experience (for Chef Application)",
                    "example": "5 years professional experience"
                  },
                  "specialties": {
                    "type": "array",
                    "nullable": true,
                    "description": "Cuisine specialties (for Chef Application)",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "italian",
                      "mexican"
                    ]
                  },
                  "location": {
                    "type": "string",
                    "nullable": true,
                    "description": "Location (for Chef Application)",
                    "example": "New York, NY"
                  },
                  "availability": {
                    "type": "string",
                    "nullable": true,
                    "description": "Availability (for Chef Application)",
                    "example": "Evenings and weekends"
                  },
                  "motivation": {
                    "type": "string",
                    "nullable": true,
                    "description": "Motivation for joining (for Chef Application)",
                    "example": "Passionate about sharing authentic recipes"
                  },
                  "referralSource": {
                    "type": "string",
                    "nullable": true,
                    "description": "How they heard about the platform",
                    "example": "Social media"
                  },
                  "additionalInfo": {
                    "type": "string",
                    "nullable": true,
                    "description": "Additional information",
                    "example": "Looking forward to joining the community"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "message": {
                          "type": "string",
                          "example": "Form submitted successfully"
                        },
                        "formType": {
                          "type": "string",
                          "example": "Chef Application"
                        },
                        "email": {
                          "type": "string",
                          "example": "chef@example.com"
                        },
                        "addedToBroadcast": {
                          "type": "boolean",
                          "description": "Whether email was added to broadcast list",
                          "example": true
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error - missing required fields or invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      },
      "options": {
        "summary": "Handle CORS Preflight",
        "description": "Handle CORS preflight requests for form submission",
        "tags": [
          "Forms",
          "CORS"
        ],
        "responses": {
          "200": {
            "description": "CORS preflight handled successfully",
            "headers": {
              "Access-Control-Allow-Origin": {
                "description": "Allowed origin",
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "description": "Allowed methods",
                "schema": {
                  "type": "string",
                  "example": "POST, OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "description": "Allowed headers",
                "schema": {
                  "type": "string",
                  "example": "Content-Type, Authorization"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/stripe/webhook": {
      "post": {
        "summary": "Stripe Webhook Handler",
        "description": "Handle Stripe webhook events for payment processing, refunds, and subscriptions",
        "tags": [
          "Payments",
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Stripe webhook event payload",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Event ID",
                    "example": "evt_1234567890abcdef"
                  },
                  "object": {
                    "type": "string",
                    "description": "Event object type",
                    "example": "event"
                  },
                  "type": {
                    "type": "string",
                    "description": "Event type",
                    "enum": [
                      "payment_intent.succeeded",
                      "payment_intent.payment_failed",
                      "charge.refunded",
                      "customer.subscription.created",
                      "customer.subscription.deleted",
                      "charge.dispute.created"
                    ],
                    "example": "payment_intent.succeeded"
                  },
                  "data": {
                    "type": "object",
                    "description": "Event data object"
                  },
                  "created": {
                    "type": "number",
                    "description": "Event creation timestamp",
                    "example": 1640995200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "received": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Webhook signature verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error or Stripe configuration error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-webhook": {
          "description": "This endpoint handles Stripe webhook events:\n\n**Supported Events:**\n- `payment_intent.succeeded`: Marks orders as paid\n- `payment_intent.payment_failed`: Notifies admins of failed payments\n- `charge.refunded`: Marks orders as refunded\n- `customer.subscription.created`: Updates user subscription status\n- `customer.subscription.deleted`: Cancels user subscription\n- `charge.dispute.created`: Notifies admins of payment disputes\n\n**Webhook Security:**\n- Requires valid Stripe signature header\n- Verifies webhook secret for authenticity\n- Processes events asynchronously\n"
        }
      }
    },
    "/staff-list": {
      "get": {
        "summary": "Get Staff List",
        "description": "Retrieve a list of all staff members in the system",
        "tags": [
          "Staff",
          "User Management"
        ],
        "responses": {
          "200": {
            "description": "Staff list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "staff": {
                          "type": "array",
                          "description": "Array of staff members",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string",
                                "description": "Staff member ID",
                                "example": "j1234567890abcdef"
                              },
                              "email": {
                                "type": "string",
                                "format": "email",
                                "example": "staff@cribnosh.com"
                              },
                              "name": {
                                "type": "string",
                                "example": "John Smith"
                              },
                              "role": {
                                "type": "string",
                                "example": "staff"
                              },
                              "roles": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "staff"
                                ]
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "active",
                                  "inactive",
                                  "suspended"
                                ],
                                "example": "active"
                              },
                              "department": {
                                "type": "string",
                                "nullable": true,
                                "description": "Staff department",
                                "example": "Customer Support"
                              },
                              "position": {
                                "type": "string",
                                "nullable": true,
                                "description": "Staff position",
                                "example": "Support Agent"
                              },
                              "permissions": {
                                "type": "array",
                                "nullable": true,
                                "description": "Staff permissions",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "view_orders",
                                  "manage_customers"
                                ]
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Account creation date",
                                "example": "2024-01-15T10:30:00Z"
                              },
                              "lastActive": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true,
                                "description": "Last active timestamp",
                                "example": "2024-01-15T10:30:00Z"
                              },
                              "avatar": {
                                "type": "string",
                                "nullable": true,
                                "description": "Profile avatar URL",
                                "example": "https://example.com/avatar.jpg"
                              }
                            }
                          }
                        },
                        "totalCount": {
                          "type": "number",
                          "description": "Total number of staff members",
                          "example": 25
                        },
                        "activeCount": {
                          "type": "number",
                          "description": "Number of active staff members",
                          "example": 22
                        },
                        "inactiveCount": {
                          "type": "number",
                          "description": "Number of inactive staff members",
                          "example": 3
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/staff/waitlist": {
      "post": {
        "summary": "Add Lead to Waitlist (Staff)",
        "description": "Allow staff to directly add leads to the waitlist without email verification",
        "tags": [
          "Staff",
          "Waitlist"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Lead email address",
                    "example": "lead@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead successfully added to waitlist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "waitlistId": {
                          "type": "string",
                          "description": "ID of the created waitlist entry",
                          "example": "j1234567890abcdef"
                        },
                        "email": {
                          "type": "string",
                          "example": "lead@example.com"
                        },
                        "isExisting": {
                          "type": "boolean",
                          "description": "Whether the email was already in the waitlist",
                          "example": false
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Lead successfully added to waitlist"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - only staff can access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/staff/upload-document": {
      "post": {
        "summary": "Upload Staff Document",
        "description": "Upload documents for staff onboarding (ID, tax forms, etc.)",
        "tags": [
          "Staff",
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file",
                  "userEmail"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Document file to upload"
                  },
                  "userEmail": {
                    "type": "string",
                    "format": "email",
                    "description": "Email of the staff member",
                    "example": "john.doe@cribnosh.com"
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of document being uploaded",
                    "example": "id_document"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "fileUrl": {
                          "type": "string",
                          "description": "URL to access the uploaded file",
                          "example": "/api/files/storage123456"
                        },
                        "fileName": {
                          "type": "string",
                          "description": "Generated file name",
                          "example": "john.doe@cribnosh.com/uuid-document.pdf"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Document uploaded successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error - missing file or userEmail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error or file storage not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "cookieAuth": []
          }
        ]
      }
    },
    "/staff/onboarding": {
      "post": {
        "summary": "Submit Staff Onboarding Form",
        "description": "Submit employee onboarding form with personal information and documents",
        "tags": [
          "Staff",
          "Onboarding"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "position",
                  "department"
                ],
                "properties": {
                  "firstName": {
                    "type": "string",
                    "description": "Employee first name",
                    "example": "John"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Employee last name",
                    "example": "Doe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Employee email address",
                    "example": "john.doe@cribnosh.com"
                  },
                  "position": {
                    "type": "string",
                    "description": "Employee position/title",
                    "example": "Customer Support Specialist"
                  },
                  "department": {
                    "type": "string",
                    "description": "Employee department",
                    "example": "Customer Support"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Employee phone number",
                    "example": "+1234567890"
                  },
                  "address": {
                    "type": "string",
                    "description": "Employee address",
                    "example": "123 Main St, London, UK"
                  },
                  "emergencyContact": {
                    "type": "string",
                    "description": "Emergency contact information",
                    "example": "Jane Doe - +0987654321"
                  },
                  "idDocument": {
                    "type": "string",
                    "format": "binary",
                    "description": "ID document file"
                  },
                  "taxForm": {
                    "type": "string",
                    "format": "binary",
                    "description": "Tax form file"
                  },
                  "directDepositForm": {
                    "type": "string",
                    "format": "binary",
                    "description": "Direct deposit form file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Onboarding form submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "onboardingId": {
                          "type": "string",
                          "description": "Onboarding form ID",
                          "example": "ONB-12345"
                        },
                        "status": {
                          "type": "string",
                          "description": "Onboarding status",
                          "example": "submitted"
                        },
                        "submittedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Submission timestamp",
                          "example": "2024-01-15T10:00:00.000Z"
                        },
                        "nextSteps": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Next steps in onboarding process",
                          "example": [
                            "HR Review",
                            "Background Check",
                            "System Access Setup"
                          ]
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Onboarding form submitted successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error - missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "cookieAuth": []
          }
        ]
      }
    },
    "/staff/notices": {
      "get": {
        "summary": "Get Staff Notices",
        "description": "Retrieve active notices and announcements for the authenticated staff member",
        "tags": [
          "Staff",
          "Notices",
          "Announcements"
        ],
        "responses": {
          "200": {
            "description": "Staff notices retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "notices": {
                          "type": "array",
                          "description": "Array of active staff notices",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string",
                                "description": "Notice ID",
                                "example": "j1234567890abcdef"
                              },
                              "title": {
                                "type": "string",
                                "description": "Notice title",
                                "example": "System Maintenance Scheduled"
                              },
                              "content": {
                                "type": "string",
                                "description": "Notice content",
                                "example": "Scheduled maintenance will occur on Sunday from 2-4 AM"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "info",
                                  "warning",
                                  "urgent",
                                  "maintenance",
                                  "policy",
                                  "training"
                                ],
                                "description": "Notice type",
                                "example": "maintenance"
                              },
                              "priority": {
                                "type": "string",
                                "enum": [
                                  "low",
                                  "medium",
                                  "high",
                                  "critical"
                                ],
                                "description": "Notice priority",
                                "example": "high"
                              },
                              "department": {
                                "type": "string",
                                "nullable": true,
                                "description": "Target department (null for all departments)",
                                "example": "customer_support"
                              },
                              "position": {
                                "type": "string",
                                "nullable": true,
                                "description": "Target position (null for all positions)",
                                "example": "manager"
                              },
                              "isActive": {
                                "type": "boolean",
                                "description": "Whether the notice is currently active",
                                "example": true
                              },
                              "startDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Notice start date",
                                "example": "2024-01-15T00:00:00.000Z"
                              },
                              "endDate": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true,
                                "description": "Notice end date (null for indefinite)",
                                "example": "2024-01-20T23:59:59.999Z"
                              },
                              "createdBy": {
                                "type": "string",
                                "description": "User ID who created the notice",
                                "example": "j1234567890abcdef"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Notice creation timestamp",
                                "example": "2024-01-15T10:00:00.000Z"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true,
                                "description": "Last update timestamp",
                                "example": "2024-01-15T15:30:00.000Z"
                              },
                              "metadata": {
                                "type": "object",
                                "nullable": true,
                                "description": "Additional notice metadata",
                                "example": {
                                  "requiresAcknowledgment": true,
                                  "externalLink": "https://example.com/more-info"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Staff user not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "cookieAuth": []
          }
        ]
      }
    },
    "/staff/mattermost/setup": {
      "post": {
        "summary": "Setup Mattermost Profile",
        "description": "Initial setup of Mattermost user profile for staff members",
        "tags": [
          "Staff",
          "Mattermost",
          "Integration"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "username",
                  "firstName",
                  "lastName"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Staff member email address",
                    "example": "john.doe@cribnosh.com"
                  },
                  "username": {
                    "type": "string",
                    "description": "Desired Mattermost username",
                    "example": "johndoe"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Staff member first name",
                    "example": "John"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Staff member last name",
                    "example": "Doe"
                  },
                  "department": {
                    "type": "string",
                    "description": "Staff member department",
                    "example": "Customer Support"
                  },
                  "role": {
                    "type": "string",
                    "description": "Staff member role",
                    "example": "Support Specialist"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mattermost profile setup completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "mattermostUserId": {
                          "type": "string",
                          "description": "Mattermost user ID",
                          "example": "mm1234567890abcdef"
                        },
                        "username": {
                          "type": "string",
                          "example": "johndoe"
                        },
                        "email": {
                          "type": "string",
                          "example": "john.doe@cribnosh.com"
                        },
                        "profileComplete": {
                          "type": "boolean",
                          "description": "Whether profile setup is complete",
                          "example": true
                        },
                        "teamMembership": {
                          "type": "object",
                          "properties": {
                            "teamId": {
                              "type": "string",
                              "example": "team1234567890abcdef"
                            },
                            "teamName": {
                              "type": "string",
                              "example": "CribNosh Staff"
                            },
                            "role": {
                              "type": "string",
                              "example": "member"
                            }
                          }
                        },
                        "channelMembership": {
                          "type": "object",
                          "properties": {
                            "channelId": {
                              "type": "string",
                              "example": "channel1234567890abcdef"
                            },
                            "channelName": {
                              "type": "string",
                              "example": "general"
                            },
                            "role": {
                              "type": "string",
                              "example": "member"
                            }
                          }
                        },
                        "nextSteps": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Next steps in setup process",
                          "example": [
                            "Complete profile",
                            "Set preferences",
                            "Join channels"
                          ]
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Mattermost profile setup completed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error - missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - username or email already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error or Mattermost integration error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/staff/mattermost/complete": {
      "post": {
        "summary": "Complete Mattermost Setup",
        "description": "Complete Mattermost user setup and configuration for staff members",
        "tags": [
          "Staff",
          "Mattermost",
          "Integration"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "username",
                  "firstName",
                  "lastName"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Staff member email address",
                    "example": "john.doe@cribnosh.com"
                  },
                  "username": {
                    "type": "string",
                    "description": "Mattermost username",
                    "example": "johndoe"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Staff member first name",
                    "example": "John"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Staff member last name",
                    "example": "Doe"
                  },
                  "preferences": {
                    "type": "object",
                    "description": "Mattermost user preferences",
                    "example": {
                      "theme": "dark",
                      "notifications": "all"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mattermost setup completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "mattermostUserId": {
                          "type": "string",
                          "description": "Mattermost user ID",
                          "example": "mm1234567890abcdef"
                        },
                        "username": {
                          "type": "string",
                          "example": "johndoe"
                        },
                        "email": {
                          "type": "string",
                          "example": "john.doe@cribnosh.com"
                        },
                        "teamId": {
                          "type": "string",
                          "description": "Mattermost team ID",
                          "example": "team1234567890abcdef"
                        },
                        "channelId": {
                          "type": "string",
                          "description": "Mattermost channel ID",
                          "example": "channel1234567890abcdef"
                        },
                        "setupComplete": {
                          "type": "boolean",
                          "description": "Whether setup is complete",
                          "example": true
                        },
                        "loginUrl": {
                          "type": "string",
                          "description": "Mattermost login URL",
                          "example": "https://mattermost.cribnosh.com"
                        },
                        "credentials": {
                          "type": "object",
                          "properties": {
                            "username": {
                              "type": "string",
                              "example": "johndoe"
                            },
                            "password": {
                              "type": "string",
                              "description": "Generated password (temporary)",
                              "example": "temp123Aa!"
                            }
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Mattermost setup completed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error - missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error or Mattermost integration error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "cookieAuth": []
          }
        ]
      }
    },
    "/staff/data": {
      "get": {
        "summary": "Get Staff Data",
        "description": "Retrieve staff member's personal and employment data",
        "tags": [
          "Staff",
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "Staff data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Staff user ID",
                          "example": "j1234567890abcdef"
                        },
                        "name": {
                          "type": "string",
                          "description": "Staff member's full name",
                          "example": "John Smith"
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "description": "Staff email address",
                          "example": "john.smith@cribnosh.com"
                        },
                        "roles": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Staff roles and permissions",
                          "example": [
                            "staff",
                            "customer_support"
                          ]
                        },
                        "position": {
                          "type": "string",
                          "nullable": true,
                          "description": "Job position/title",
                          "example": "Customer Support Manager"
                        },
                        "department": {
                          "type": "string",
                          "nullable": true,
                          "description": "Department assignment",
[...]
