{"openapi":"3.0.3","info":{"title":"CribNosh API","version":"1.0.0","description":"API documentation for CribNosh - Personalized meal platform with modern, glossy, culturally-aware design.","contact":{"name":"CribNosh Support","email":"support@cribnosh.com"},"license":{"name":"Cribnosh Private Collab Licence","url":""}},"servers":[{"url":"https://cribnosh.com/api","description":"Production server"}],"tags":[{"name":"Authentication","description":"User authentication and authorization endpoints"},{"name":"Admin","description":"Administrative operations and platform management"},{"name":"Customer","description":"Customer-specific operations and data management"},{"name":"Chef","description":"Chef-specific operations and meal management"},{"name":"Staff","description":"Staff operations and internal management"},{"name":"Orders","description":"Order management and processing"},{"name":"Payments","description":"Payment processing and financial operations"},{"name":"Reviews","description":"Review and rating system"},{"name":"Analytics","description":"Analytics and data tracking"},{"name":"Monitoring","description":"System monitoring and health checks"},{"name":"Live Streaming","description":"Live streaming and real-time features"},{"name":"Notifications","description":"User notification management"},{"name":"Webhooks","description":"Webhook endpoints for external integrations"},{"name":"Email","description":"Email service integration"},{"name":"AI","description":"AI-powered features and recommendations"},{"name":"Integrations","description":"External service integrations"},{"name":"Sync","description":"Data synchronization services"},{"name":"System","description":"System utilities and core operations"},{"name":"Delivery","description":"Delivery management and driver operations"},{"name":"Chat","description":"Real-time messaging and communication"},{"name":"Messaging","description":"User messaging and conversation management"},{"name":"Waitlist","description":"Waitlist management and user onboarding"},{"name":"Refunds","description":"Refund processing and eligibility management"},{"name":"Meals","description":"Meal creation and management"},{"name":"Profile","description":"User profile management"},{"name":"User Management","description":"User administration and management"},{"name":"Dishes","description":"Dish and menu item management"},{"name":"Notices","description":"Staff notices and announcements"},{"name":"Announcements","description":"System announcements and communications"},{"name":"Availability","description":"Chef availability and scheduling management"},{"name":"Tracking","description":"Delivery tracking and status updates"},{"name":"Custom Orders","description":"Custom order management and processing"},{"name":"History","description":"Payment and transaction history"},{"name":"Cards","description":"Payment card management"},{"name":"Status","description":"Payment and order status tracking"},{"name":"Applications","description":"Chef and staff application management"},{"name":"Onboarding","description":"User onboarding and application processes"},{"name":"Conversations","description":"Chat conversation management"},{"name":"Drivers","description":"Delivery driver management and tracking"},{"name":"Sales","description":"Sales analytics and revenue tracking"},{"name":"Documents","description":"Document upload and management"},{"name":"Order Management","description":"Order lifecycle and management operations"},{"name":"History","description":"Order and transaction history tracking"},{"name":"Messaging","description":"Order-related messaging and communication"},{"name":"Notes","description":"Order notes and annotations"},{"name":"Preparation","description":"Order preparation and cooking processes"},{"name":"Delivery","description":"Order delivery and fulfillment processes"},{"name":"Mattermost","description":"Mattermost team communication integration"},{"name":"Early Access","description":"Early access and waitlist management"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"JWT token for API authentication. Include as \"Bearer {token}\" in Authorization header."},"cookieAuth":{"type":"apiKey","in":"cookie","name":"convex-auth-token","description":"Session token stored in HTTP-only cookie for authentication."}},"schemas":{"Error":{"type":"object","properties":{"error":{"type":"string","description":"Error message"},"details":{"type":"object","description":"Additional error details"},"code":{"type":"string","description":"Error code"}},"required":["error"]},"Success":{"type":"object","properties":{"success":{"type":"boolean","description":"Success status"},"data":{"type":"object","description":"Response data"},"message":{"type":"string","description":"Success message"}},"required":["success"]}}},"security":[{"bearerAuth":[]},{"cookieAuth":[]}],"paths":{"/":{"get":{"summary":"API Welcome Endpoint","description":"Welcome endpoint that confirms the API is working and accessible","tags":["System"],"responses":{"200":{"description":"API is working successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"message":{"type":"string","example":"Welcome to the CribNosh API! The API is working."}}},"message":{"type":"string","example":"Success"}}}}}}},"security":[]}},"/reviews":{"get":{"summary":"Get All Reviews","description":"Get paginated list of all reviews with filtering options","tags":["Reviews"],"parameters":[{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100,"default":20},"description":"Number of reviews to return","example":20},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"description":"Number of reviews to skip","example":0}],"responses":{"200":{"description":"Reviews retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"reviews":{"type":"array","description":"Array of reviews","items":{"type":"object","properties":{"_id":{"type":"string","description":"Review ID","example":"j1234567890abcdef"},"user_id":{"type":"string","description":"User ID who wrote the review","example":"j1234567890abcdef"},"meal_id":{"type":"string","description":"Meal ID being reviewed","example":"j1234567890abcdef"},"rating":{"type":"number","minimum":1,"maximum":5,"description":"Rating from 1 to 5","example":4},"comment":{"type":"string","nullable":true,"description":"Review comment","example":"Great meal, highly recommended!"},"status":{"type":"string","enum":["pending","approved","rejected"],"description":"Review status","example":"approved"},"createdAt":{"type":"number","description":"Review creation timestamp","example":1640995200000}}}},"total":{"type":"number","description":"Total number of reviews","example":150},"limit":{"type":"number","description":"Number of reviews returned","example":20},"offset":{"type":"number","description":"Number of reviews skipped","example":0}}},"message":{"type":"string","example":"Success"}}}}}},"401":{"description":"Unauthorized - invalid or missing authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]}]},"post":{"summary":"Create Review","description":"Create a new review for a meal (only for meals the user has ordered)","tags":["Reviews"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["meal_id","rating"],"properties":{"meal_id":{"type":"string","description":"ID of the meal being reviewed","example":"j1234567890abcdef"},"rating":{"type":"number","minimum":1,"maximum":5,"description":"Rating from 1 to 5 stars","example":4},"comment":{"type":"string","nullable":true,"description":"Optional review comment","example":"Great meal, highly recommended!"}}}}}},"responses":{"200":{"description":"Review created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"success":{"type":"boolean","example":true},"reviewId":{"type":"string","description":"Created review ID","example":"j1234567890abcdef"}}},"message":{"type":"string","example":"Success"}}}}}},"401":{"description":"Unauthorized - invalid or missing authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - can only review meals you have ordered","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error - missing required fields or invalid rating","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]}]}},"/api/reviews/index":{"get":{"summary":"Get reviews index","description":"Get the reviews index page with statistics and recent reviews","tags":["Reviews"],"responses":{"200":{"description":"Reviews index retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"totalReviews":{"type":"number"},"averageRating":{"type":"number"},"recentReviews":{"type":"array","items":{"type":"object"}},"topRatedChefs":{"type":"array","items":{"type":"object"}},"topRatedDishes":{"type":"array","items":{"type":"object"}}}}}}}}},"500":{"description":"Internal server error"}}}},"/api/live-streaming/viewers":{"get":{"summary":"Get live viewers","description":"Get live stream viewers","tags":["Live Streaming"],"responses":{"200":{"description":"Live viewers retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"array"}}}}}},"500":{"description":"Internal server error"}}}},"/api/live-streaming/sessions":{"get":{"summary":"Get live streaming sessions","description":"Get all live streaming sessions with filtering and pagination","tags":["Live Streaming"],"parameters":[{"in":"query","name":"status","schema":{"type":"string","enum":["active","ended","scheduled"]},"description":"Filter sessions by status"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100,"default":20},"description":"Number of sessions to return"},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"description":"Number of sessions to skip"}],"responses":{"200":{"description":"Live sessions retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"type":"object"}},"pagination":{"type":"object"}}}}}},"500":{"description":"Internal server error"}}}},"/live-streaming/comments":{"post":{"summary":"Send Live Comment","description":"Send a comment to a live streaming session","tags":["Live Streaming"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["sessionId","content","commentType"],"properties":{"sessionId":{"type":"string","description":"ID of the live session","example":"j1234567890abcdef"},"content":{"type":"string","description":"Comment content","example":"This looks amazing! Can you share the recipe?"},"commentType":{"type":"string","enum":["general","question","reaction","tip","moderation"],"description":"Type of comment","example":"question"},"metadata":{"type":"object","nullable":true,"description":"Additional comment metadata","example":{"reaction":"heart","tipAmount":5}}}}}}},"responses":{"200":{"description":"Comment sent successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"success":{"type":"boolean","example":true},"sessionId":{"type":"string","example":"j1234567890abcdef"},"comment":{"type":"object","nullable":true,"description":"Created comment details","properties":{"id":{"type":"string","example":"j1234567890abcdef"},"content":{"type":"string","example":"This looks amazing! Can you share the recipe?"},"commentType":{"type":"string","example":"question"},"sentBy":{"type":"string","example":"j1234567890abcdef"},"sentByRole":{"type":"string","example":"customer"},"sentAt":{"type":"string","format":"date-time","example":"2024-01-15T10:30:00.000Z"},"metadata":{"type":"object","example":{"reaction":"heart","tipAmount":5}}}},"message":{"type":"string","example":"Live comment sent successfully."}}},"message":{"type":"string","example":"Success"}}}}}},"400":{"description":"Validation error - missing required fields or session not active","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - invalid or missing authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - user is muted in this session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Live session not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]}]}},"/api/live-streaming/chef":{"get":{"summary":"Get chef live streaming","description":"Get chef live streaming data","tags":["Live Streaming"],"responses":{"200":{"description":"Chef live streaming retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"}}}}}},"500":{"description":"Internal server error"}}}},"/api/live-streaming/moderator":{"get":{"summary":"Get moderator live streaming","description":"Get moderator live streaming data","tags":["Live Streaming"],"responses":{"200":{"description":"Moderator live streaming retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"}}}}}},"500":{"description":"Internal server error"}}}},"/api/live-streaming/orders":{"get":{"summary":"Get live orders","description":"Get orders from live streaming","tags":["Live Streaming"],"responses":{"200":{"description":"Live orders retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"array"}}}}}},"500":{"description":"Internal server error"}}}},"/api/live-streaming/customer":{"get":{"summary":"Get customer live streaming","description":"Get customer live streaming data","tags":["Live Streaming"],"responses":{"200":{"description":"Customer live streaming retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"}}}}}},"500":{"description":"Internal server error"}}}},"/api/live-streaming/admin":{"get":{"summary":"Get admin live streaming","description":"Get admin live streaming data","tags":["Live Streaming"],"responses":{"200":{"description":"Admin live streaming retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object"}}}}}},"500":{"description":"Internal server error"}}}},"/api/live-streaming/chat":{"get":{"summary":"Get live chat","description":"Get live chat messages","tags":["Live Streaming"],"responses":{"200":{"description":"Live chat retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"array"}}}}}},"500":{"description":"Internal server error"}}}},"/mattermost":{"post":{"summary":"Send Mattermost Notification","description":"Send notifications to Mattermost channels for team communication and alerts","tags":["Integrations","Notifications"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["test","custom","system-health"],"description":"Type of notification to send","example":"custom"},"channel":{"type":"string","nullable":true,"description":"Target channel ID (uses default if not provided)","example":"channel1234567890abcdef"},"message":{"type":"string","nullable":true,"description":"Custom message content (required for 'custom' type)","example":"New order received: #12345 for £25.99"},"data":{"type":"object","nullable":true,"description":"Additional data for system-health notifications","properties":{"status":{"type":"string","enum":["healthy","degraded","unhealthy"],"example":"healthy"},"message":{"type":"string","example":"System health check completed"},"details":{"type":"object","nullable":true,"description":"Additional health check details","example":{"uptime":86400,"memory":"512MB"}}}}}}}}},"responses":{"200":{"description":"Notification sent successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"Mattermost notification sent successfully"},"type":{"type":"string","example":"custom"}}},"message":{"type":"string","example":"Success"}}}}}},"400":{"description":"Validation error - invalid type or missing message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error or external service error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Service unavailable - Mattermost not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[],"x-integration":{"description":"This endpoint integrates with Mattermost for team notifications:\n\n**Notification Types:**\n- `test`: Send a test message to verify configuration\n- `custom`: Send a custom message with specified content\n- `system-health`: Send system health status notifications\n\n**Configuration:**\n- Requires either MATTERMOST_WEBHOOK_URL or MATTERMOST_BOT_TOKEN + MATTERMOST_SERVER_URL\n- Uses MATTERMOST_CHANNEL_ID as default channel if not specified\n- Supports both webhook and API-based messaging\n\n**Use Cases:**\n- Order notifications for kitchen staff\n- System alerts for admin team\n- Customer service notifications\n- Development team updates\n"}}},"/custom_orders":{"get":{"summary":"Get Custom Orders","description":"Retrieve paginated list of custom orders for the authenticated user","tags":["Custom Orders","Orders"],"parameters":[{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100,"default":20},"description":"Number of orders to return","example":20},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"description":"Number of orders to skip","example":0}],"responses":{"200":{"description":"Custom orders retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"orders":{"type":"array","description":"Array of custom orders","items":{"type":"object","properties":{"_id":{"type":"string","description":"Custom order ID","example":"j1234567890abcdef"},"userId":{"type":"string","description":"User ID who created the order","example":"j1234567890abcdef"},"requirements":{"type":"string","description":"Custom order requirements","example":"Gluten-free pasta with vegan cheese"},"serving_size":{"type":"number","description":"Number of servings","example":4},"desired_delivery_time":{"type":"string","format":"date-time","description":"Preferred delivery time","example":"2024-01-15T18:00:00.000Z"},"custom_order_id":{"type":"string","description":"Public custom order ID","example":"CUST-12345"},"order_id":{"type":"string","description":"Associated regular order ID","example":"ORD-12345"},"status":{"type":"string","enum":["pending","processing","completed","cancelled"],"description":"Order status","example":"processing"},"dietary_restrictions":{"type":"string","nullable":true,"description":"Dietary restrictions","example":"gluten-free, vegan"},"createdAt":{"type":"number","description":"Creation timestamp","example":1640995200000},"updatedAt":{"type":"number","nullable":true,"description":"Last update timestamp","example":1640995200000}}}},"total":{"type":"number","description":"Total number of custom orders","example":25},"limit":{"type":"number","example":20},"offset":{"type":"number","example":0}}},"message":{"type":"string","example":"Success"}}}}}},"401":{"description":"Unauthorized - invalid or missing authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]}]}},"/api/messaging":{"get":{"summary":"Get messaging overview","description":"Get messaging system overview with statistics and recent activity","tags":["Messaging"],"responses":{"200":{"description":"Messaging overview retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"totalChats":{"type":"number"},"activeUsers":{"type":"number"},"recentMessages":{"type":"array","items":{"type":"object"}},"messagingStats":{"type":"object"},"topChatters":{"type":"array","items":{"type":"object"}}}}}}}}},"500":{"description":"Internal server error"}}}},"/health":{"get":{"summary":"Health check endpoint","description":"Check the health status of all services and systems","tags":["System"],"responses":{"200":{"description":"Health check completed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time","description":"Timestamp of the health check","example":"2024-01-15T10:30:00.000Z"},"status":{"type":"string","enum":["healthy","degraded","unhealthy"],"description":"Overall system health status","example":"healthy"},"version":{"type":"string","description":"Application version","example":"1.0.0"},"environment":{"type":"string","description":"Environment name","example":"production"},"services":{"type":"object","description":"Health status of individual services","properties":{"email":{"type":"object","properties":{"status":{"type":"string","enum":["healthy","unhealthy","unknown"]},"details":{"type":"string"}}},"notion":{"type":"object","properties":{"status":{"type":"string","enum":["healthy","unhealthy","unknown"]},"details":{"type":"string"}}},"monitoring":{"type":"object","properties":{"status":{"type":"string","enum":["healthy","unhealthy","unknown"]},"details":{"type":"string"}}},"convex":{"type":"object","properties":{"status":{"type":"string","enum":["healthy","unhealthy","unknown"]},"details":{"type":"string"}}}}},"api":{"type":"object","properties":{"status":{"type":"string","enum":["healthy","unhealthy","unknown"]},"metrics":{"type":"object","nullable":true},"uptime":{"type":"number"},"errorRate":{"type":"number"}}},"system":{"type":"object","properties":{"memory":{"type":"object","description":"Node.js memory usage"},"uptime":{"type":"number","description":"Process uptime in seconds"},"nodeVersion":{"type":"string","description":"Node.js version"}}}}}}}},"503":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[]}},"/waitlist":{"get":{"summary":"Get Waitlist Entries (Admin)","description":"Retrieve paginated list of waitlist entries (admin only)","tags":["Admin","Waitlist"],"parameters":[{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100,"default":20},"description":"Number of waitlist entries to return","example":20},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"description":"Number of waitlist entries to skip","example":0}],"responses":{"200":{"description":"Waitlist entries retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"waitlist":{"type":"array","description":"Array of waitlist entries","items":{"type":"object","properties":{"_id":{"type":"string","description":"Waitlist entry ID","example":"j1234567890abcdef"},"email":{"type":"string","format":"email","description":"User email address","example":"user@example.com"},"source":{"type":"string","description":"How the user joined the waitlist","example":"website"},"location":{"type":"object","nullable":true,"description":"User's location information","properties":{"city":{"type":"string","example":"London"},"country":{"type":"string","example":"UK"},"coordinates":{"type":"array","items":{"type":"number"},"example":[-0.1276,51.5074]}}},"status":{"type":"string","enum":["pending","contacted","converted","removed"],"description":"Waitlist entry status","example":"pending"},"priority":{"type":"string","enum":["low","medium","high","vip"],"description":"Priority level","example":"medium"},"joinedAt":{"type":"number","description":"Timestamp when user joined waitlist","example":1640995200000},"contactedAt":{"type":"number","nullable":true,"description":"Timestamp when user was contacted","example":1641081600000},"convertedAt":{"type":"number","nullable":true,"description":"Timestamp when user converted to customer","example":1641168000000},"metadata":{"type":"object","nullable":true,"description":"Additional waitlist metadata","example":{"referralCode":"FRIEND123","interest":"italian_cuisine"}}}}},"total":{"type":"number","description":"Total number of waitlist entries","example":1250},"limit":{"type":"number","example":20},"offset":{"type":"number","example":0}}},"message":{"type":"string","example":"Success"}}}}}},"401":{"description":"Unauthorized - invalid or missing authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - only admins can access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]}]}},"/csrf":{"get":{"summary":"Get CSRF Token","description":"Generate and return a CSRF token for form protection","tags":["System"],"responses":{"200":{"description":"CSRF token generated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"csrfToken":{"type":"string","format":"uuid","description":"Generated CSRF token","example":"123e4567-e89b-12d3-a456-426614174000"}}},"message":{"type":"string","example":"Success"}}}}},"headers":{"Set-Cookie":{"description":"CSRF token cookie","schema":{"type":"string","example":"csrf_token=123e4567-e89b-12d3-a456-426614174000; Path=/; Max-Age=3600; SameSite=Lax"}}}}},"security":[]}},"/email":{"post":{"summary":"Send Email Optimistically","description":"Send email using optimistic delivery with fallback handling","tags":["Email"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["to","subject","html"],"properties":{"to":{"type":"string","description":"Recipient email address","example":"user@example.com"},"subject":{"type":"string","description":"Email subject line","example":"Welcome to CribNosh!"},"html":{"type":"string","description":"HTML content of the email","example":"<h1>Welcome!</h1><p>Thank you for joining CribNosh.</p>"},"text":{"type":"string","nullable":true,"description":"Plain text version of the email","example":"Welcome! Thank you for joining CribNosh."},"from":{"type":"string","nullable":true,"description":"Sender email address","example":"noreply@cribnosh.com"},"replyTo":{"type":"string","nullable":true,"description":"Reply-to email address","example":"support@cribnosh.com"},"tags":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"template_id"},"value":{"type":"string","example":"welcome_email"}}},"nullable":true,"description":"Email tags for tracking and categorization"},"attachments":{"type":"array","items":{"type":"object","properties":{"filename":{"type":"string","example":"menu.pdf"},"content":{"type":"string","format":"base64","example":"JVBERi0xLjQKJcOkw7zDtsO..."}}},"nullable":true,"description":"Email attachments"},"metadata":{"type":"object","nullable":true,"description":"Additional email metadata","example":{"userId":"j1234567890abcdef","orderId":"j1234567890abcdef"}}}}}}},"responses":{"202":{"description":"Email queued for sending successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"operationId":{"type":"string","description":"Unique operation ID for tracking","example":"op_1234567890abcdef"},"status":{"type":"string","enum":["queued","sending","sent","failed"],"description":"Current email status","example":"queued"},"estimatedDelivery":{"type":"string","format":"date-time","description":"Estimated delivery time","example":"2024-01-15T10:30:00.000Z"}}},"message":{"type":"string","example":"Email queued successfully"}}}}}},"400":{"description":"Validation error - missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error or email service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[]}},"/get-ip":{"get":{"summary":"Get Client IP Address","description":"Retrieve the real IP address of the client making the request","tags":["System"],"responses":{"200":{"description":"IP address retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"ip":{"type":"string","description":"Client IP address","example":"192.168.1.100"}}},"message":{"type":"string","example":"Success"}}}}}}},"security":[]}},"/notifications":{"get":{"summary":"Get User Notifications","description":"Get paginated list of notifications for the authenticated user","tags":["Notifications"],"parameters":[{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100,"default":20},"description":"Number of notifications to return","example":20},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"description":"Number of notifications to skip","example":0}],"responses":{"200":{"description":"Notifications retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"notifications":{"type":"array","description":"Array of notifications","items":{"type":"object","properties":{"_id":{"type":"string","description":"Notification ID","example":"j1234567890abcdef"},"userId":{"type":"string","nullable":true,"description":"User ID (null for global notifications)","example":"j1234567890abcdef"},"type":{"type":"string","description":"Notification type","enum":["info","success","warning","error","order","payment","system"],"example":"order"},"title":{"type":"string","description":"Notification title","example":"Order Confirmed"},"message":{"type":"string","description":"Notification message","example":"Your order #12345 has been confirmed and is being prepared"},"isRead":{"type":"boolean","description":"Whether the notification has been read","example":false},"global":{"type":"boolean","description":"Whether this is a global notification","example":false},"role":{"type":"string","nullable":true,"description":"Target role for role-specific notifications","example":"customer"},"metadata":{"type":"object","nullable":true,"description":"Additional notification data","example":{"orderId":"j1234567890abcdef","amount":25.99}},"createdAt":{"type":"number","description":"Notification creation timestamp","example":1640995200000}}}},"total":{"type":"number","description":"Total number of notifications","example":45},"limit":{"type":"number","description":"Number of notifications returned","example":20},"offset":{"type":"number","description":"Number of notifications skipped","example":0}}},"message":{"type":"string","example":"Success"}}}}}},"401":{"description":"Unauthorized - invalid or missing authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]}]}},"/contact":{"post":{"summary":"Submit contact form","description":"Submit a contact form with user details and message","tags":["Contact"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["firstName","lastName","email","subject","message"],"properties":{"firstName":{"type":"string","description":"User's first name","example":"John"},"lastName":{"type":"string","description":"User's last name","example":"Doe"},"email":{"type":"string","format":"email","description":"User's email address","example":"john.doe@example.com"},"subject":{"type":"string","description":"Subject of the contact message","example":"Question about CribNosh"},"message":{"type":"string","description":"The contact message","example":"I have a question about your meal platform..."}}}}}},"responses":{"202":{"description":"Contact form submitted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"Contact form submitted successfully"},"messageId":{"type":"string","description":"Email message ID"}}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[]}},"/emotions-engine":{"post":{"summary":"Emotions Engine Processing","description":"Process user emotions and context to provide personalized meal recommendations","tags":["AI","Recommendations"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"userId":{"type":"string","nullable":true,"description":"User ID for personalized recommendations","example":"j1234567890abcdef"},"location":{"type":"object","nullable":true,"description":"User's current location","properties":{"latitude":{"type":"number","example":51.5074},"longitude":{"type":"number","example":-0.1278},"address":{"type":"string","nullable":true,"example":"London, UK"}}},"emotions":{"type":"array","items":{"type":"string"},"nullable":true,"description":"Current emotional state","example":["happy","excited","hungry"]},"preferences":{"type":"object","nullable":true,"description":"User dietary preferences and restrictions","properties":{"dietaryRestrictions":{"type":"array","items":{"type":"string"},"example":["vegetarian","gluten-free"]},"allergies":{"type":"array","items":{"type":"string"},"example":["nuts","dairy"]},"cuisinePreferences":{"type":"array","items":{"type":"string"},"example":["italian","mexican","indian"]},"spiceLevel":{"type":"string","enum":["mild","medium","hot","extra-hot"],"example":"medium"}}},"context":{"type":"object","nullable":true,"description":"Additional context for recommendations","properties":{"timeOfDay":{"type":"string","example":"dinner"},"occasion":{"type":"string","example":"date_night"},"budget":{"type":"string","enum":["low","medium","high","premium"],"example":"medium"},"cookingTime":{"type":"number","description":"Available cooking time in minutes","example":30}}},"searchQuery":{"type":"string","nullable":true,"description":"Text search query","example":"spicy pasta"}}}}}},"responses":{"200":{"description":"Emotions processed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","description":"Empty object on success (processing is asynchronous)","example":{}},"message":{"type":"string","example":"Success"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[],"x-ai-features":{"description":"This endpoint powers CribNosh's AI-driven recommendation system:\n\n**Context Aggregation:**\n- Merges frontend user input with backend user data\n- Fetches nearby chef specialties based on location\n- Considers user's historical preferences and behavior\n\n**Emotional Analysis:**\n- Processes user's current emotional state\n- Maps emotions to appropriate meal types and cuisines\n- Considers time of day and occasion context\n\n**Personalization:**\n- Takes into account dietary restrictions and allergies\n- Considers budget and cooking time constraints\n- Learns from user's past orders and ratings\n\n**Location Intelligence:**\n- Finds nearby chefs within 10km radius\n- Considers local cuisine availability\n- Factors in delivery time and logistics\n\n**AI Processing:**\n- Runs inference using aggregated context\n- Generates personalized meal recommendations\n- Updates user preference models\n"}}},"/notion-sync":{"post":{"summary":"Notion Sync Queue","description":"Add data to Notion synchronization queue for external data management","tags":["Integrations","Sync"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["id","table"],"properties":{"id":{"type":"string","description":"ID of the record to sync","example":"j1234567890abcdef"},"table":{"type":"string","enum":["waitlist"],"description":"Table name to sync","example":"waitlist"}}}}}},"responses":{"200":{"description":"Record added to sync queue successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message":{"type":"string","example":"Added to sync queue"}}},"message":{"type":"string","example":"Success"}}}}}},"400":{"description":"Validation error - invalid table","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[],"x-integration":{"description":"This endpoint manages data synchronization with Notion:\n\n**Supported Tables:**\n- `waitlist`: Sync waitlist entries to Notion database\n\n**Sync Process:**\n- Adds records to background sync queue\n- Processes synchronously to avoid blocking\n- Handles retries and error recovery\n- Maintains data consistency between systems\n\n**Use Cases:**\n- Customer waitlist management\n- Lead tracking and CRM integration\n- Data backup and external storage\n- Team collaboration and reporting\n"}}},"/timelogs":{"post":{"summary":"Create timelog","description":"Create a new timelog entry with activity watch logs","tags":["Timelogs"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["user","bucket","logs"],"properties":{"user":{"type":"string","description":"Username or email of the staff member","example":"john.doe@example.com"},"bucket":{"type":"string","description":"Bucket name for the timelog","example":"work"},"logs":{"type":"array","description":"Array of activity watch logs","items":{"type":"object","required":["timestamp","duration","data"],"properties":{"timestamp":{"type":"string","description":"ISO timestamp of the activity","example":"2024-01-15T10:30:00.000Z"},"duration":{"type":"number","description":"Duration of the activity in seconds","example":3600},"data":{"type":"object","description":"Additional activity data","example":{"app":"vscode","title":"coding"}}}}}}}}}},"responses":{"200":{"description":"Timelog created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Success"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Staff member not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]},{"cookieAuth":[]}]},"get":{"summary":"Get timelogs","description":"Retrieve timelogs with optional filtering by staff, bucket, and date range","tags":["Timelogs"],"parameters":[{"in":"query","name":"staffId","schema":{"type":"string"},"description":"Filter by staff member ID","example":"j1234567890abcdef"},{"in":"query","name":"bucket","schema":{"type":"string"},"description":"Filter by bucket name","example":"work"},{"in":"query","name":"start","schema":{"type":"number"},"description":"Start timestamp filter","example":1640995200000},{"in":"query","name":"end","schema":{"type":"number"},"description":"End timestamp filter","example":1641081600000},{"in":"query","name":"skip","schema":{"type":"number"},"description":"Number of records to skip","example":0},{"in":"query","name":"limit","schema":{"type":"number"},"description":"Maximum number of records to return","example":50}],"responses":{"200":{"description":"Timelogs retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Success"}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]},{"cookieAuth":[]}]}},"/api/nosh-heaven/collections":{"post":{"summary":"Create video collection","description":"Creates a new video collection/playlist","tags":["Nosh Heaven","Collections"],"security":[{"Bearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","videoIds"],"properties":{"name":{"type":"string","description":"Name of the collection","example":"My Favorite Recipes"},"description":{"type":"string","description":"Description of the collection","example":"A collection of my favorite cooking videos"},"isPublic":{"type":"boolean","description":"Whether the collection is public","default":true,"example":true},"videoIds":{"type":"array","items":{"type":"string"},"description":"Array of video IDs to include","example":["j1234567890abcdef","j0987654321fedcba"]},"coverImageUrl":{"type":"string","description":"URL of the cover image","example":"https://cdn.noshheaven.com/collections/cover.jpg"}}}}}},"responses":{"201":{"description":"Collection created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"collectionId":{"type":"string","description":"ID of the created collection","example":"j1234567890abcdef"}}},"message":{"type":"string","example":"Collection created successfully"}}}}}},"400":{"description":"Validation error"},"401":{"description":"Unauthorized"}}},"get":{"summary":"Get collections","description":"Retrieves video collections with pagination","tags":["Nosh Heaven","Collections"],"parameters":[{"in":"query","name":"limit","schema":{"type":"integer","default":20},"description":"Number of collections to return"},{"in":"query","name":"cursor","schema":{"type":"string"},"description":"Cursor for pagination"},{"in":"query","name":"publicOnly","schema":{"type":"boolean","default":true},"description":"Whether to return only public collections"}],"responses":{"200":{"description":"Collections retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"collections":{"type":"array","items":{"$ref":"#/components/schemas/VideoCollection"}},"nextCursor":{"type":"string","description":"Cursor for next page"}}},"message":{"type":"string","example":"Collections retrieved successfully"}}}}}}}}},"/api/nosh-heaven/trending":{"get":{"summary":"Get trending videos","description":"Retrieves trending videos based on engagement metrics","tags":["Nosh Heaven","Videos","Trending"],"parameters":[{"in":"query","name":"limit","schema":{"type":"integer","default":20},"description":"Number of videos to return"},{"in":"query","name":"timeRange","schema":{"type":"string","enum":["24h","7d","30d","all"],"default":"7d"},"description":"Time range for trending calculation"}],"responses":{"200":{"description":"Trending videos retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/VideoPost"},{"type":"object","properties":{"engagementScore":{"type":"number","description":"Calculated engagement score","example":0.75}}}]}},"message":{"type":"string","example":"Trending videos retrieved successfully"}}}}}}}}},"/api/nosh-heaven/videos":{"post":{"summary":"Create a new video post","description":"Creates a new video post in Nosh Heaven","tags":["Nosh Heaven","Videos"],"security":[{"Bearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["title","videoUrl","duration","fileSize","resolution","tags"],"properties":{"title":{"type":"string","description":"Title of the video","example":"How to Make Perfect Pasta"},"description":{"type":"string","description":"Description of the video","example":"Learn the secret to making restaurant-quality pasta at home"},"videoUrl":{"type":"string","description":"S3 URL of the uploaded video","example":"https://cdn.noshheaven.com/videos/user123/1234567890_my-cooking-video.mp4"},"thumbnailUrl":{"type":"string","description":"S3 URL of the thumbnail image","example":"https://cdn.noshheaven.com/thumbnails/user123/video123_1234567890_thumbnail.jpg"},"duration":{"type":"number","description":"Duration in seconds","example":300},"fileSize":{"type":"number","description":"File size in bytes","example":52428800},"resolution":{"type":"object","properties":{"width":{"type":"number","example":1920},"height":{"type":"number","example":1080}}},"tags":{"type":"array","items":{"type":"string"},"example":["pasta","italian","cooking","tutorial"]},"cuisine":{"type":"string","description":"Type of cuisine","example":"Italian"},"difficulty":{"type":"string","enum":["beginner","intermediate","advanced"],"example":"intermediate"},"visibility":{"type":"string","enum":["public","followers","private"],"default":"public","example":"public"},"isLive":{"type":"boolean","description":"Whether this is a live cooking session","example":false},"liveSessionId":{"type":"string","description":"ID of associated live session","example":"j1234567890abcdef"}}}}}},"responses":{"201":{"description":"Video post created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"videoId":{"type":"string","description":"ID of the created video post","example":"j1234567890abcdef"}}},"message":{"type":"string","example":"Video post created successfully"}}}}}},"400":{"description":"Validation error"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"get":{"summary":"Get video feed","description":"Retrieves the video feed with pagination","tags":["Nosh Heaven","Videos"],"parameters":[{"in":"query","name":"limit","schema":{"type":"integer","default":20},"description":"Number of videos to return"},{"in":"query","name":"cursor","schema":{"type":"string"},"description":"Cursor for pagination"}],"responses":{"200":{"description":"Video feed retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"videos":{"type":"array","items":{"$ref":"#/components/schemas/VideoPost"}},"nextCursor":{"type":"string","description":"Cursor for next page"}}},"message":{"type":"string","example":"Video feed retrieved successfully"}}}}}}}}},"/monitoring/health":{"get":{"summary":"System Health Check","description":"Get system health status and monitoring information","tags":["Monitoring"],"parameters":[{"in":"query","name":"detailed","schema":{"type":"boolean","default":false},"description":"Whether to return detailed health information","example":true}],"responses":{"200":{"description":"Health check completed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"status":{"type":"string","enum":["healthy","degraded","unhealthy"],"description":"Overall system health status","example":"healthy"},"timestamp":{"type":"string","format":"date-time","description":"Health check timestamp","example":"2024-01-15T10:30:00.000Z"},"uptime":{"type":"number","description":"System uptime in seconds","example":86400},"version":{"type":"string","description":"Application version","example":"1.0.0"},"services":{"type":"object","description":"Individual service health (detailed mode only)","properties":{"database":{"type":"object","properties":{"status":{"type":"string","example":"healthy"},"responseTime":{"type":"number","example":45}}},"redis":{"type":"object","properties":{"status":{"type":"string","example":"healthy"},"responseTime":{"type":"number","example":12}}},"stripe":{"type":"object","properties":{"status":{"type":"string","example":"healthy"},"responseTime":{"type":"number","example":234}}}}},"metrics":{"type":"object","description":"System metrics (detailed mode only)","properties":{"memory":{"type":"object","properties":{"used":{"type":"number","example":512},"total":{"type":"number","example":1024},"percentage":{"type":"number","example":50}}},"cpu":{"type":"object","properties":{"usage":{"type":"number","example":25.5}}},"requests":{"type":"object","properties":{"perMinute":{"type":"number","example":150},"averageResponseTime":{"type":"number","example":120}}}}}}},"message":{"type":"string","example":"Success"}}}}}},"500":{"description":"Health check failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[]},"post":{"summary":"Health Check Actions","description":"Perform health check actions like recording health data or triggering checks","tags":["Monitoring"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["action"],"properties":{"action":{"type":"string","enum":["record_health","trigger_health_check"],"description":"Action to perform","example":"trigger_health_check"},"data":{"type":"object","nullable":true,"description":"Health data to record (for record_health action)","example":{"status":"healthy","uptime":86400}}}}}}},"responses":{"200":{"description":"Health check action completed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","description":"Action result message","example":"Health data recorded successfully"},"data":{"type":"object","nullable":true,"description":"Health data (for trigger_health_check action)","properties":{"status":{"type":"string","example":"healthy"},"uptime":{"type":"number","example":86400},"version":{"type":"string","example":"1.0.0"}}}}},"message":{"type":"string","example":"Success"}}}}}},"400":{"description":"Invalid action or validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Health check action failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[]}},"/payments/refund":{"post":{"summary":"Process Payment Refund","description":"Process a refund for a payment intent (admin only)","tags":["Payments"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["payment_intent_id"],"properties":{"payment_intent_id":{"type":"string","description":"Stripe payment intent ID to refund","example":"pi_1234567890abcdef"},"amount":{"type":"number","nullable":true,"description":"Partial refund amount in smallest currency unit (optional for full refund)","example":1599}}}}}},"responses":{"200":{"description":"Refund processed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"refund":{"type":"object","description":"Stripe refund object","properties":{"id":{"type":"string","example":"re_1234567890abcdef"},"amount":{"type":"number","example":3198},"currency":{"type":"string","example":"gbp"},"status":{"type":"string","enum":["pending","succeeded","failed","canceled"],"example":"succeeded"},"reason":{"type":"string","example":"requested_by_customer"},"created":{"type":"number","example":1640995200}}}}},"message":{"type":"string","example":"Success"}}}}}},"400":{"description":"Validation error - missing payment_intent_id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - invalid or missing authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - only admins can process refunds","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Service unavailable - Stripe not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]}]}},"/payments/history":{"get":{"summary":"Get Payment History","description":"Retrieve payment history for the authenticated user","tags":["Payments","History"],"responses":{"200":{"description":"Payment history retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"payments":{"type":"array","description":"Array of payment intents","items":{"type":"object","properties":{"id":{"type":"string","description":"Payment intent ID","example":"pi_1234567890abcdef"},"amount":{"type":"number","description":"Amount in cents","example":2500},"currency":{"type":"string","description":"Currency code","example":"usd"},"status":{"type":"string","enum":["requires_payment_method","requires_confirmation","requires_action","processing","requires_capture","canceled","succeeded"],"description":"Payment status","example":"succeeded"},"client_secret":{"type":"string","description":"Client secret for frontend","example":"pi_1234567890abcdef_secret_abcdef"},"description":{"type":"string","nullable":true,"description":"Payment description","example":"Order #ORD-12345"},"metadata":{"type":"object","nullable":true,"description":"Payment metadata","example":{"order_id":"ORD-12345","user_id":"j1234567890abcdef"}},"created":{"type":"number","description":"Creation timestamp","example":1640995200},"amount_received":{"type":"number","nullable":true,"description":"Amount actually received","example":2500},"receipt_email":{"type":"string","nullable":true,"description":"Receipt email","example":"user@example.com"},"shipping":{"type":"object","nullable":true,"description":"Shipping information","properties":{"name":{"type":"string","example":"John Doe"},"address":{"type":"object","properties":{"line1":{"type":"string","example":"123 Main St"},"city":{"type":"string","example":"London"},"postal_code":{"type":"string","example":"SW1A 1AA"},"country":{"type":"string","example":"GB"}}}}}}}}}},"message":{"type":"string","example":"Success"}}}}}},"400":{"description":"Validation error - user email required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - invalid or missing authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Service unavailable - Stripe not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]}]}},"/payments/cards":{"get":{"summary":"Get Payment Cards","description":"Retrieve saved payment cards for the authenticated user","tags":["Payments","Cards"],"responses":{"200":{"description":"Payment cards retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"cards":{"type":"array","description":"Array of saved payment cards","items":{"type":"object","properties":{"id":{"type":"string","description":"Payment method ID","example":"pm_1234567890abcdef"},"type":{"type":"string","description":"Payment method type","example":"card"},"card":{"type":"object","description":"Card details","properties":{"brand":{"type":"string","description":"Card brand","example":"visa"},"last4":{"type":"string","description":"Last 4 digits of card","example":"4242"},"exp_month":{"type":"number","description":"Expiration month","example":12},"exp_year":{"type":"number","description":"Expiration year","example":2025},"funding":{"type":"string","description":"Card funding type","example":"credit"},"country":{"type":"string","description":"Country code","example":"US"},"fingerprint":{"type":"string","description":"Card fingerprint","example":"abcd1234"}}},"billing_details":{"type":"object","description":"Billing information","properties":{"name":{"type":"string","nullable":true,"example":"John Doe"},"email":{"type":"string","nullable":true,"example":"john@example.com"},"phone":{"type":"string","nullable":true,"example":"+1234567890"},"address":{"type":"object","nullable":true,"properties":{"line1":{"type":"string","example":"123 Main St"},"line2":{"type":"string","nullable":true,"example":"Apt 4B"},"city":{"type":"string","example":"London"},"state":{"type":"string","example":"England"},"postal_code":{"type":"string","example":"SW1A 1AA"},"country":{"type":"string","example":"GB"}}}}},"created":{"type":"number","description":"Creation timestamp","example":1640995200}}}}}},"message":{"type":"string","example":"Success"}}}}}},"400":{"description":"Validation error - user email required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - invalid or missing authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]}]}},"/payments/status":{"get":{"summary":"Get Payment Status","description":"Retrieve payment status for an order or payment intent","tags":["Payments","Status"],"parameters":[{"in":"query","name":"orderId","schema":{"type":"string"},"description":"Order ID to check payment status for","example":"ORD-12345"},{"in":"query","name":"paymentIntentId","schema":{"type":"string"},"description":"Payment intent ID to check status for","example":"pi_1234567890abcdef"}],"responses":{"200":{"description":"Payment status retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"order":{"type":"object","nullable":true,"description":"Order details (if orderId provided)","properties":{"_id":{"type":"string","example":"j1234567890abcdef"},"order_id":{"type":"string","example":"ORD-12345"},"customer_id":{"type":"string","example":"j1234567890abcdef"},"total_amount":{"type":"number","example":25.99},"order_status":{"type":"string","example":"confirmed"},"payment_status":{"type":"string","example":"completed"}}},"paymentIntent":{"type":"object","nullable":true,"description":"Payment intent details","properties":{"id":{"type":"string","example":"pi_1234567890abcdef"},"amount":{"type":"number","example":2599},"currency":{"type":"string","example":"usd"},"status":{"type":"string","enum":["requires_payment_method","requires_confirmation","requires_action","processing","requires_capture","canceled","succeeded"],"example":"succeeded"},"client_secret":{"type":"string","example":"pi_1234567890abcdef_secret_abcdef"},"description":{"type":"string","nullable":true,"example":"Order #ORD-12345"},"metadata":{"type":"object","nullable":true,"example":{"order_id":"ORD-12345"}},"created":{"type":"number","example":1640995200},"amount_received":{"type":"number","nullable":true,"example":2599},"receipt_email":{"type":"string","nullable":true,"example":"user@example.com"}}},"paymentStatus":{"type":"string","description":"Overall payment status","example":"completed"},"canRefund":{"type":"boolean","description":"Whether payment can be refunded","example":true},"refundAmount":{"type":"number","nullable":true,"description":"Maximum refundable amount","example":25.99}}},"message":{"type":"string","example":"Success"}}}}}},"400":{"description":"Validation error - missing required parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - invalid or missing authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Order or payment intent not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]}]}},"/payments/create-payment-intent":{"post":{"summary":"Create Payment Intent","description":"Create a Stripe payment intent for processing payments","tags":["Payments"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["amount"],"properties":{"amount":{"type":"number","minimum":50,"description":"Amount in smallest currency unit (e.g., pence for GBP)","example":3198},"currency":{"type":"string","default":"gbp","description":"Currency code","example":"gbp"},"payment_method_id":{"type":"string","nullable":true,"description":"Payment method ID for immediate confirmation","example":"pm_1234567890abcdef"},"metadata":{"type":"object","nullable":true,"description":"Additional metadata for the payment","example":{"source":"mobile_app"}},"orderId":{"type":"string","nullable":true,"description":"Associated order ID","example":"j1234567890abcdef"},"chefId":{"type":"string","nullable":true,"description":"Associated chef ID","example":"j1234567890abcdef"},"bookingId":{"type":"string","nullable":true,"description":"Associated booking ID","example":"j1234567890abcdef"}}}}}},"responses":{"200":{"description":"Payment intent created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"clientSecret":{"type":"string","description":"Stripe client secret for payment confirmation","example":"pi_1234567890abcdef_secret_abcdef1234567890"},"paymentIntentId":{"type":"string","description":"Stripe payment intent ID","example":"pi_1234567890abcdef"}}},"message":{"type":"string","example":"Success"}}}}}},"400":{"description":"Validation error - invalid amount or missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - invalid or missing authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error or Stripe configuration error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]}]}},"/payments/confirm-payment":{"post":{"summary":"Confirm Payment Intent","description":"Confirm a Stripe payment intent to complete the payment","tags":["Payments"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["payment_intent_id"],"properties":{"payment_intent_id":{"type":"string","description":"Stripe payment intent ID to confirm","example":"pi_1234567890abcdef"},"payment_method_id":{"type":"string","nullable":true,"description":"Payment method ID to use for confirmation","example":"pm_1234567890abcdef"}}}}}},"responses":{"200":{"description":"Payment confirmed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"status":{"type":"string","description":"Payment intent status","enum":["requires_payment_method","requires_confirmation","requires_action","processing","requires_capture","canceled","succeeded"],"example":"succeeded"},"paymentIntent":{"type":"object","description":"Complete payment intent object from Stripe","properties":{"id":{"type":"string","example":"pi_1234567890abcdef"},"status":{"type":"string","example":"succeeded"},"amount":{"type":"number","example":3198},"currency":{"type":"string","example":"gbp"},"client_secret":{"type":"string","example":"pi_1234567890abcdef_secret_abcdef1234567890"}}}}},"message":{"type":"string","example":"Payment confirmed successfully"}}}}}},"400":{"description":"Validation error - missing payment_intent_id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - invalid or missing authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error or Stripe configuration error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]}]}},"/images/chef/profile":{"post":{"summary":"Upload Chef Profile Image","description":"Upload a profile image for the authenticated chef","tags":["Images","Chef","Profile"],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["file"],"properties":{"file":{"type":"string","format":"binary","description":"Image file to upload (max 5MB, image formats only)"}}}}}},"responses":{"200":{"description":"Profile image uploaded successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"success":{"type":"boolean","example":true},"fileUrl":{"type":"string","description":"URL of the uploaded profile image","example":"/api/files/storage123456"}}},"message":{"type":"string","example":"Success"}}}}}},"400":{"description":"Validation error - invalid file or missing parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - invalid or missing authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - only chefs or admins can upload images","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Chef profile not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error - file too large, wrong format, or no file uploaded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error or file upload failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]}]}},"/delivery/track":{"post":{"summary":"Update Delivery Status","description":"Update the status and location of a delivery assignment","tags":["Delivery","Tracking"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["assignmentId","status"],"properties":{"assignmentId":{"type":"string","description":"Delivery assignment ID","example":"j1234567890abcdef"},"status":{"type":"string","enum":["accepted","picked_up","in_transit","delivered","failed"],"description":"New delivery status","example":"in_transit"},"location":{"type":"object","nullable":true,"description":"Current location coordinates","properties":{"latitude":{"type":"number","minimum":-90,"maximum":90,"description":"Latitude coordinate","example":51.5074},"longitude":{"type":"number","minimum":-180,"maximum":180,"description":"Longitude coordinate","example":-0.1276},"accuracy":{"type":"number","minimum":0,"description":"Location accuracy in meters","example":10}}},"notes":{"type":"string","nullable":true,"description":"Additional notes about the delivery status","example":"Delivered to front door as requested"},"metadata":{"type":"object","nullable":true,"description":"Additional delivery metadata","example":{"deliveryTime":"18:30","customerRating":5}}}}}}},"responses":{"200":{"description":"Delivery status updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"assignmentId":{"type":"string","example":"j1234567890abcdef"},"status":{"type":"string","example":"in_transit"},"location":{"type":"object","nullable":true,"properties":{"latitude":{"type":"number","example":51.5074},"longitude":{"type":"number","example":-0.1276},"accuracy":{"type":"number","example":10}}},"notes":{"type":"string","nullable":true,"example":"Delivered to front door as requested"},"updatedAt":{"type":"string","format":"date-time","description":"Status update timestamp","example":"2024-01-15T18:30:00.000Z"},"updatedBy":{"type":"string","description":"User who updated the status","example":"j1234567890abcdef"}}},"message":{"type":"string","example":"Success"}}}}}},"400":{"description":"Validation error - missing required fields or invalid status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - invalid or missing authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Delivery assignment not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]}]}},"/delivery/drivers":{"get":{"summary":"Get Delivery Drivers","description":"Retrieve delivery drivers with filtering and pagination","tags":["Delivery","Drivers"],"parameters":[{"in":"query","name":"status","schema":{"type":"string","enum":["pending","approved","rejected","on_hold","active","inactive","suspended"]},"description":"Filter by driver status","example":"active"},{"in":"query","name":"availability","schema":{"type":"string","enum":["available","busy","offline","on_delivery"]},"description":"Filter by driver availability","example":"available"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"description":"Number of drivers to return","example":50},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"description":"Number of drivers to skip","example":0}],"responses":{"200":{"description":"Delivery drivers retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"drivers":{"type":"array","description":"Array of delivery drivers","items":{"type":"object","properties":{"_id":{"type":"string","description":"Driver ID","example":"j1234567890abcdef"},"userId":{"type":"string","description":"Associated user ID","example":"j1234567890abcdef"},"name":{"type":"string","description":"Driver name","example":"John Smith"},"email":{"type":"string","description":"Driver email","example":"driver@example.com"},"phone":{"type":"string","description":"Driver phone number","example":"+1234567890"},"status":{"type":"string","enum":["pending","approved","rejected","on_hold","active","inactive","suspended"],"description":"Driver status","example":"active"},"availability":{"type":"string","enum":["available","busy","offline","on_delivery"],"description":"Current availability","example":"available"},"location":{"type":"object","nullable":true,"description":"Current location","properties":{"latitude":{"type":"number","example":51.5074},"longitude":{"type":"number","example":-0.1276},"accuracy":{"type":"number","example":10},"lastUpdated":{"type":"string","format":"date-time","example":"2024-01-15T15:30:00.000Z"}}},"vehicle":{"type":"object","nullable":true,"description":"Vehicle information","properties":{"type":{"type":"string","example":"bicycle"},"make":{"type":"string","example":"Trek"},"model":{"type":"string","example":"FX 3"},"licensePlate":{"type":"string","nullable":true,"example":"ABC123"}}},"rating":{"type":"number","nullable":true,"description":"Average rating","example":4.8},"totalDeliveries":{"type":"number","description":"Total deliveries completed","example":150},"activeDeliveries":{"type":"number","description":"Currently active deliveries","example":2},"maxCapacity":{"type":"number","description":"Maximum delivery capacity","example":5},"serviceAreas":{"type":"array","items":{"type":"string"},"description":"Service area codes","example":["SW1","SW2","SW3"]},"certifications":{"type":"array","items":{"type":"string"},"description":"Driver certifications","example":["food_safety","first_aid"]},"createdAt":{"type":"string","format":"date-time","description":"Driver registration timestamp","example":"2024-01-15T10:00:00.000Z"},"updatedAt":{"type":"string","format":"date-time","description":"Last update timestamp","example":"2024-01-15T15:30:00.000Z"}}}},"total":{"type":"number","description":"Total number of drivers matching filters","example":25},"limit":{"type":"number","example":50},"offset":{"type":"number","example":0}}},"message":{"type":"string","example":"Success"}}}}}},"400":{"description":"Validation error - invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"summary":"Update Driver Location/Status","description":"Update driver location, availability, or status (admin/staff/driver only)","tags":["Delivery","Drivers"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["driverId","location"],"properties":{"driverId":{"type":"string","description":"Driver ID to update","example":"j1234567890abcdef"},"location":{"type":"object","description":"Current location coordinates","properties":{"latitude":{"type":"number","minimum":-90,"maximum":90,"description":"Latitude coordinate","example":51.5074},"longitude":{"type":"number","minimum":-180,"maximum":180,"description":"Longitude coordinate","example":-0.1276},"accuracy":{"type":"number","minimum":0,"description":"Location accuracy in meters","example":10}}},"availability":{"type":"string","enum":["available","busy","offline","on_delivery"],"description":"Driver availability status","example":"available"},"metadata":{"type":"object","nullable":true,"description":"Additional update metadata","example":{"batteryLevel":85,"signalStrength":"strong"}}}}}}},"responses":{"200":{"description":"Driver location/status updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"driverId":{"type":"string","example":"j1234567890abcdef"},"location":{"type":"object","properties":{"latitude":{"type":"number","example":51.5074},"longitude":{"type":"number","example":-0.1276},"accuracy":{"type":"number","example":10}}},"availability":{"type":"string","example":"available"},"updatedAt":{"type":"string","format":"date-time","description":"Update timestamp","example":"2024-01-15T15:30:00.000Z"},"updatedBy":{"type":"string","description":"User who made the update","example":"j1234567890abcdef"},"updatedByRole":{"type":"string","example":"driver"}}},"message":{"type":"string","example":"Driver location updated successfully"}}}}}},"400":{"description":"Validation error - missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - invalid or missing authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - insufficient permissions or trying to update another driver's location","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Driver not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]}]}},"/delivery/assign":{"post":{"summary":"Assign Delivery Driver","description":"Assign a delivery driver to an order (admin/staff only)","tags":["Delivery","Orders"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["orderId"],"properties":{"orderId":{"type":"string","description":"Order ID to assign delivery for","example":"j1234567890abcdef"},"driverId":{"type":"string","nullable":true,"description":"Specific driver ID (auto-assign if not provided)","example":"j1234567890abcdef"},"estimatedPickupTime":{"type":"string","format":"date-time","nullable":true,"description":"Estimated pickup time","example":"2024-01-15T18:00:00.000Z"},"estimatedDeliveryTime":{"type":"string","format":"date-time","nullable":true,"description":"Estimated delivery time","example":"2024-01-15T18:30:00.000Z"},"pickupInstructions":{"type":"string","nullable":true,"description":"Special pickup instructions","example":"Ring doorbell twice, ask for John"},"deliveryInstructions":{"type":"string","nullable":true,"description":"Special delivery instructions","example":"Leave at front door if no answer"},"metadata":{"type":"object","nullable":true,"description":"Additional delivery metadata","example":{"priority":"high","fragile":true}}}}}}},"responses":{"200":{"description":"Delivery assigned successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"assignmentId":{"type":"string","description":"Delivery assignment ID","example":"j1234567890abcdef"},"orderId":{"type":"string","example":"j1234567890abcdef"},"driverId":{"type":"string","description":"Assigned driver ID","example":"j1234567890abcdef"},"status":{"type":"string","enum":["assigned","picked_up","in_transit","delivered","failed"],"description":"Delivery status","example":"assigned"},"estimatedPickupTime":{"type":"string","format":"date-time","nullable":true,"example":"2024-01-15T18:00:00.000Z"},"estimatedDeliveryTime":{"type":"string","format":"date-time","nullable":true,"example":"2024-01-15T18:30:00.000Z"},"assignedAt":{"type":"string","format":"date-time","description":"Assignment timestamp","example":"2024-01-15T17:45:00.000Z"},"assignedBy":{"type":"string","description":"User who made the assignment","example":"j1234567890abcdef"}}},"message":{"type":"string","example":"Success"}}}}}},"400":{"description":"Validation error - missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - invalid or missing authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden - only admins and staff can assign deliveries","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Order not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"bearerAuth":[]}]}},"/staff/data":{"get":{"summary":"Get Staff Data","description":"Retrieve staff member's personal and employment data","tags":["Staff","Profile"],"responses":{"200":{"description":"Staff data retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"id":{"type":"string","description":"Staff user ID","example":"j1234567890abcdef"},"name":{"type":"string","description":"Staff member's full name","example":"John Smith"},"email":{"type":"string","format":"email","description":"Staff email address","example":"john.smith@cribnosh.com"},"roles":{"type":"array","items":{"type":"string"},"description":"Staff roles and permissions","example":["staff","customer_support"]},"position":{"type":"string","nullable":true,"description":"Job position/title","example":"Customer Support Manager"},"department":{"type":"string","nullable":true,"description":"Department assignment","example":"Customer Support"},"avatar":{"type":"string","nullable":true,"description":"Profile avatar URL","example":"https://example.com/avatar.jpg"},"status":{"type":"string","enum":["active","inactive","suspended","terminated"],"description":"Employment status","example":"active"},"onboarding":{"type":"object","nullable":true,"description":"Onboarding completion status","properties":{"completed":{"type":"boolean","example":true},"stepsCompleted":{"type":"array","items":{"type":"string"},"example":["profile_setup","training_completed"]}}},"mattermostActive":{"type":"boolean","description":"Whether staff is active on Mattermost","example":true},"mattermostProfile":{"type":"object","nullable":true,"description":"Mattermost profile information","properties":{"username":{"type":"string","example":"john.smith"},"displayName":{"type":"string","example":"John Smith"}}},"mattermostUserId":{"type":"string","nullable":true,"description":"Mattermost user ID","example":"mattermost_user_123"},"startDate":{"type":"string","format":"date","nullable":true,"description":"Employment start date","example":"2024-01-15"},"employmentType":{"type":"string","enum":["full_time","part_time","contract","intern"],"nullable":true,"description":"Type of employment","example":"full_time"},"salary":{"type":"object","nullable":true,"description":"Salary information","properties":{"amount":{"type":"number","example":50000},"currency":{"type":"string","example":"USD"},"frequency":{"type":"string","example":"annual"}}},"address":{"type":"object","nullable":true,"description":"Staff address","properties":{"street":{"type":"string","example":"123 Main St"},"city":{"type":"string","example":"London"},"postcode":{"type":"string","example":"SW1A 1AA"},"country":{"type":"string","example":"UK"}}}}},"message":{"type":"string","example":"Staff data retrieved successfully"}}}}}},"401":{"description":"Unauthorized - authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Staff user not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"cookieAuth":[]}]}},"/staff/notices":{"get":{"summary":"Get Staff Notices","description":"Retrieve active notices and announcements for the authenticated staff member","tags":["Staff","Notices","Announcements"],"responses":{"200":{"description":"Staff notices retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"notices":{"type":"array","description":"Array of active staff notices","items":{"type":"object","properties":{"_id":{"type":"string","description":"Notice ID","example":"j1234567890abcdef"},"title":{"type":"string","description":"Notice title","example":"System Maintenance Scheduled"},"content":{"type":"string","description":"Notice content","example":"Scheduled maintenance will occur on Sunday from 2-4 AM"},"type":{"type":"string","enum":["info","warning","urgent","maintenance","policy","training"],"description":"Notice type","example":"maintenance"},"priority":{"type":"string","enum":["low","medium","high","critical"],"description":"Notice priority","example":"high"},"department":{"type":"string","nullable":true,"description":"Target department (null for all departments)","example":"customer_support"},"position":{"type":"string","nullable":true,"description":"Target position (null for all positions)","example":"manager"},"isActive":{"type":"boolean","description":"Whether the notice is currently active","example":true},"startDate":{"type":"string","format":"date-time","description":"Notice start date","example":"2024-01-15T00:00:00.000Z"},"endDate":{"type":"string","format":"date-time","nullable":true,"description":"Notice end date (null for indefinite)","example":"2024-01-20T23:59:59.999Z"},"createdBy":{"type":"string","description":"User ID who created the notice","example":"j1234567890abcdef"},"createdAt":{"type":"string","format":"date-time","description":"Notice creation timestamp","example":"2024-01-15T10:00:00.000Z"},"updatedAt":{"type":"string","format":"date-time","nullable":true,"description":"Last update timestamp","example":"2024-01-15T15:30:00.000Z"},"metadata":{"type":"object","nullable":true,"description":"Additional notice metadata","example":{"requiresAcknowledgment":true,"externalLink":"https://example.com/more-info"}}}}}}},"message":{"type":"string","example":"Success"}}}}}},"401":{"description":"Unauthorized - authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Staff user not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"cookieAuth":[]}]}},"/api/functions/admin":{"get":{"summary":"Get admin functions","description":"Get available admin functions and system status","tags":["Functions"],"responses":{"200":{"description":"Admin functions retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"availableFunctions":{"type":"array","items":{"type":"string"}},"systemStatus":{"type":"object"},"liveSessionStats":{"type":"object"},"adminStats":{"type":"object"}}}}}}}},"500":{"description":"Internal server error"}}}},"/stripe/webhook":{"post":{"summary":"Stripe Webhook Handler","description":"Handle Stripe webhook events for payment processing, refunds, and subscriptions","tags":["Payments","Webhooks"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","description":"Stripe webhook event payload","properties":{"id":{"type":"string","description":"Event ID","example":"evt_1234567890abcdef"},"object":{"type":"string","description":"Event object type","example":"event"},"type":{"type":"string","description":"Event type","enum":["payment_intent.succeeded","payment_intent.payment_failed","charge.refunded","customer.subscription.created","customer.subscription.deleted","charge.dispute.created"],"example":"payment_intent.succeeded"},"data":{"type":"object","description":"Event data object"},"created":{"type":"number","description":"Event creation timestamp","example":1640995200}}}}}},"responses":{"200":{"description":"Webhook processed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"received":{"type":"boolean","example":true}}},"message":{"type":"string","example":"Success"}}}}}},"400":{"description":"Webhook signature verification failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error or Stripe configuration error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[],"x-webhook":{"description":"This endpoint handles Stripe webhook events:\n\n**Supported Events:**\n- `payment_intent.succeeded`: Marks orders as paid\n- `payment_intent.payment_failed`: Notifies admins of failed payments\n- `charge.refunded`: Marks orders as refunded\n- `customer.subscription.created`: Updates user subscription status\n- `customer.subscription.deleted`: Cancels user subscription\n- `charge.dispute.created`: Notifies admins of payment disputes\n\n**Webhook Security:**\n- Requires valid Stripe signature header\n- Verifies webhook secret for authenticity\n- Processes events asynchronously\n"}}},"/functions/startLiveSession":{"post":{"summary":"Start Live Session","description":"Start a new live cooking session for a specific meal","tags":["Live Streaming"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["title","description","mealId"],"properties":{"title":{"type":"string","description":"Title of the live session","example":"Cooking Authentic Italian Pasta"},"description":{"type":"string","description":"Description of what will be cooked","example":"Join me as I prepare traditional Italian pasta from scratch"},"mealId":{"type":"string","description":"ID of the meal being prepared","example":"j1234567890abcdef"},"location":{"type":"object","nullable":true,"description":"Location information for the session","properties":{"coordinates":{"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2,"description":"[longitude, latitude] coordinates","example":[-0.1276,51.5074]},"address":{"type":"string","nullable":true,"description":"Human-readable address","example":"123 Baker Street, London"}}},"tags":{"type":"array","items":{"type":"string"},"nullable":true,"description":"Tags for categorizing the session","example":["italian","pasta","cooking","live"]}}}}}},"responses":{"200":{"description":"Live session started successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"sessionId":{"type":"string","description":"Unique session ID","example":"j1234567890abcdef"},"title":{"type":"string","example":"Cooking Authentic Italian Pasta"},"description":{"type":"string","example":"Join me as I prepare traditional Italian pasta from scratch"},"mealId":{"type":"string","example":"j1234567890abcdef"},"channelName":{"type":"string","description":"Streaming channel name","example":"live-1640995200000"},"chefId":{"type":"string","description":"Chef ID who started the session","example":"j1234567890abcdef"},"status":{"type":"string","enum":["starting","live","ended"],"description":"Current session status","example":"starting"},"tags":{"type":"array","items":{"type":"string"},"example":["italian","pasta","cooking","live"]},"createdAt":{"type":"number","description":"Session creation timestamp","example":1640995200000}}},"message":{"type":"string","example":"Success"}}}}}},"400":{"description":"Validation error - missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[]}},"/api/functions/moderation":{"get":{"summary":"Get moderation functions","description":"Get available moderation functions and current moderation status","tags":["Functions"],"responses":{"200":{"description":"Moderation functions retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"availableFunctions":{"type":"array","items":{"type":"string"}},"activeModerators":{"type":"number"},"pendingReports":{"type":"number"},"moderationStats":{"type":"object"}}}}}}}},"500":{"description":"Internal server error"}}}},"/functions/getLiveSession":{"get":{"summary":"Get Live Session by ID","description":"Retrieve a specific live session by its session ID","tags":["Live Streaming"],"parameters":[{"in":"query","name":"sessionId","required":true,"schema":{"type":"string"},"description":"The session ID to retrieve","example":"live-1640995200000"}],"responses":{"200":{"description":"Live session retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"_id":{"type":"string","example":"j1234567890abcdef"},"session_id":{"type":"string","example":"live-1640995200000"},"chef_id":{"type":"string","example":"j1234567890abcdef"},"title":{"type":"string","example":"Cooking Authentic Italian Pasta"},"description":{"type":"string","example":"Join me as I prepare traditional Italian pasta"},"status":{"type":"string","enum":["scheduled","starting","live","ended","cancelled"],"example":"live"},"location":{"type":"object","nullable":true,"properties":{"city":{"type":"string","example":"London"},"coordinates":{"type":"array","items":{"type":"number"},"example":[-0.1276,51.5074]},"address":{"type":"string","example":"123 Baker Street, London"},"radius":{"type":"number","example":10}}},"viewerCount":{"type":"number","example":15},"chatEnabled":{"type":"boolean","example":true},"tags":{"type":"array","items":{"type":"string"},"example":["italian","pasta","cooking"]},"_creationTime":{"type":"number","example":1640995200000}}},"message":{"type":"string","example":"Success"}}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Live session not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[]}},"/functions/updateLiveSessionLocation":{"put":{"summary":"Update Live Session Location","description":"Update the location of an existing live session","tags":["Live Streaming"],"parameters":[{"in":"path","name":"sessionId","required":true,"schema":{"type":"string"},"description":"The ID of the live session to update"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["latitude","longitude"],"properties":{"latitude":{"type":"number","minimum":-90,"maximum":90,"description":"Latitude coordinate","example":51.5074},"longitude":{"type":"number","minimum":-180,"maximum":180,"description":"Longitude coordinate","example":-0.1276},"city":{"type":"string","description":"City name","example":"London"},"address":{"type":"string","description":"Human-readable address","example":"123 Baker Street, London"},"radius":{"type":"number","minimum":1,"maximum":100,"description":"Delivery radius in kilometers","example":10}}}}}},"responses":{"200":{"description":"Location updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"sessionId":{"type":"string","example":"j1234567890abcdef"},"location":{"type":"object","properties":{"city":{"type":"string","example":"London"},"coordinates":{"type":"array","items":{"type":"number"},"example":[-0.1276,51.5074]},"address":{"type":"string","example":"123 Baker Street, London"},"radius":{"type":"number","example":10}}}}},"message":{"type":"string","example":"Session location updated successfully"}}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Live session not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[]}},"/staff/upload-document":{"post":{"summary":"Upload Staff Document","description":"Upload documents for staff onboarding (ID, tax forms, etc.)","tags":["Staff","Documents"],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["file","userEmail"],"properties":{"file":{"type":"string","format":"binary","description":"Document file to upload"},"userEmail":{"type":"string","format":"email","description":"Email of the staff member","example":"john.doe@cribnosh.com"},"type":{"type":"string","description":"Type of document being uploaded","example":"id_document"}}}}}},"responses":{"200":{"description":"Document uploaded successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"object","properties":{"fileUrl":{"type":"string","description":"URL to access the uploaded file","example":"https://storage.cribnosh.com/documents/john.doe@cribnosh.com/uuid-document.pdf"},"fileName":{"type":"string","description":"Generated file name","example":"john.doe@cribnosh.com/uuid-document.pdf"}}},"message":{"type":"string","example":"Document uploaded successfully"}}}}}},"400":{"description":"Validation error - missing file or userEmail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized - invalid or missing authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error or MinIO not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"cookieAuth":[]}]}},"/staff/waitlist":{"post":{"summary":"Add Lead to Waitlist (Staff)","description":"Allow staff to directly add leads to the waitlist without email verification","tags":["Staff","Waitlist"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email"],"properties":{"email":{"type":"string","format":"email","description":"Lead email address","example":"lead@example.com"},"name":{"type":"string","description":"Lead name","example":"John Doe"},"phone":{"type":"string","description":"Lead phone number","example":"+1234567890"},"location":{"type":"string","description":"Lead location","example":"New York, NY"},"source":{"type":"string","description":"Lead source","example":"staff_referral"},"priority":{"type":"string","enum":["low","medium","high","vip"],"description":"Lead priority level","example":"medium"},"notes":{"type":"string","description":"Additional no
[...]
